﻿@model los_controller.Models.ButtonModel

@{
    if (Model.rightName.Contains(los_controller.Utility.EnumUtil.AclEnum.I.ToString()))
    {
        <span id="new-product" class="icon-plus border-left-1-1" title="New">New</span>
    }
    if (Model.rightName.Contains(los_controller.Utility.EnumUtil.AclEnum.U.ToString()))
    {
        <span id="edit-product" class="icon-note border-left-1-1" title="Edit">Edit</span>
    }
    if (Model.rightName.Contains(los_controller.Utility.EnumUtil.AclEnum.D.ToString()))
    {
        <span id="delete-product" class="icon-trash border-left-1-1" title="Delete">Delete</span>
    }
}
