﻿@model List<los_controller.Models.ProductPropsViewModel>

@if (Model != null && Model.Count > 0)
{
    for (int i = 0; i < Model.Count; i++)
    {
        <li>
            <span>@Model[i].FieldName</span>
            <p>
                @if (Model[i].FieldType != "D")
                {
                    @Html.TextBoxFor(model => model[i].UdfValue)
                }
                else
                {
                    @Html.TextBoxFor(model => model[i].UdfValue, new { @name = "date" })      
                }
                @Html.ValidationMessageFor(model => model[i].UdfValue)
            </p>
            @Html.HiddenFor(model =>model[i].UdfId)
            @Html.HiddenFor(model => model[i].ValType)
            @Html.HiddenFor(model => model[i].MinVal)
            @Html.HiddenFor(model => model[i].MaxVal)
            @Html.HiddenFor(model => model[i].MinLength)
            @Html.HiddenFor(model => model[i].MaxLength)
        </li>
    }
}
else
{
    <li>
        No custom product property
    </li>
}
