﻿@model   List<los_controller.Models.SysRight>
<div class="changeACL">
    <h4>Users:</h4>
    <div class="addUserItem background-1 border-top-bottom-1">
        <form name="formAddUser">
            <p>
                @Html.DropDownList("userAdd", (IEnumerable<SelectListItem>)ViewBag.ListUser)
            </p>
            <p class="multiple">
                <select name="quyenUser" multiple>
                    <option value="V">View</option>
                    <option value="I">Input</option>
                    <option value="U">Update</option>
                    <option value="D">Delete</option>
                    <option value="A">Approve</option>
                </select>
            </p>
            <span class="addUser border-1">Add</span>
        </form>
    </div>
    <ul class="listUser">
        @if (Model != null && Model.Count() > 0)
        {
            var UserRight = Model.Where(e => e.Type.Equals(los_controller.Utility.EnumUtil.RightEnum.User)).ToList();
            for (int i = 0; i < UserRight.Count; i++)
            {
                <li data-id="@UserRight[i].Sid" data-quyen="@UserRight[i].Acl" class="border-bottom-1-2">
                    <div class="nameUser"><a href="#" class="icon-user">@UserRight[i].Name</a></div>
                    <div class="quyenUser">

                        @if (@UserRight[i].Acl.Contains("V"))
                        {
                            <span data-quyen="V" class="border-1 applyQuyen">View</span>
                        }
                        else
                        {
                            <span data-quyen="V" class="border-1">View</span>
                        }
                        @if (@UserRight[i].Acl.Contains("I"))
                        {
                            <span data-quyen="I" class="border-1 applyQuyen">Input</span>
                        }
                        else
                        {
                            <span data-quyen="I" class="border-1">Input</span>
                        }
                        @if (@UserRight[i].Acl.Contains("U"))
                        {
                            <span data-quyen="U" class="border-1 applyQuyen">Update</span>
                        }
                        else
                        {
                            <span data-quyen="U" class="border-1">Update</span>
                        }
                        @if (@UserRight[i].Acl.Contains("D"))
                        {
                            <span data-quyen="D" class="border-1 applyQuyen">Delete</span>
                        }
                        else
                        {
                            <span data-right="D" class="border-1">Delete</span>
                        }
                        @if (@UserRight[i].Acl.Contains("X"))
                        {
                            <span data-quyen="X" class="border-1 applyQuyen">Execute</span>
                        }
                        else
                        {
                            <span data-right="X" class="border-1">Execute</span>
                        }
                        @if (@UserRight[i].Acl.Contains("A"))
                        {
                            <span data-quyen="A" class="border-1 applyQuyen">Approve</span>
                        }
                        else
                        {
                            <span data-quyen="A" class="border-1">Approve</span>
                        }
                    </div>
                    <div class="deleteUser"><span class="removeUser icon-close"></span></div>
                </li>
            }
        }

    </ul>

    <h4>Groups:</h4>
    <div class="addGroupItem background-1 border-top-bottom-1">
        <form name="formAddGroup">
            <p>
                @Html.DropDownList("selectGroup", (IEnumerable<SelectListItem>)ViewBag.ListGroup)
            </p>
            <p class="multiple">
                <select class="quyenGroup" name="quyenGroup" multiple>
                    <option value="V">View</option>
                    <option value="I">Input</option>
                    <option value="U">Update</option>
                    <option value="D">Delete</option>
                    <option value="A">Approve</option>
                </select>
            </p>
            <span class="addGroup border-1">Add</span>
        </form>
    </div>
    <ul class="listGroup">
        @if (Model != null && Model.Count() > 0)
        {
            var UserRight = Model.Where(e => e.Type.Equals(los_controller.Utility.EnumUtil.RightEnum.Group)).ToList();
            for (int i = 0; i < UserRight.Count; i++)
            {
                <li data-id="@UserRight[i].Sid" data-quyen="@UserRight[i].Acl" class=" border-bottom-1-2">
                    <div class="nameGroup"><a href="#" class="icon-users">@UserRight[i].Name</a></div>
                    <div class="quyenGroup">

                        @if (@UserRight[i].Acl.Contains("V"))
                        {
                            <span data-quyen="V" class="border-1 applyQuyen">View</span>
                        }
                        else
                        {
                            <span data-quyen="V" class="border-1">View</span>
                        }
                        @if (@UserRight[i].Acl.Contains("I"))
                        {
                            <span data-quyen="I" class="border-1 applyQuyen">Input</span>
                        }
                        else
                        {
                            <span data-quyen="I" class="border-1">Input</span>
                        }
                        @if (@UserRight[i].Acl.Contains("U"))
                        {
                            <span data-quyen="U" class="border-1 applyQuyen">Update</span>
                        }
                        else
                        {
                            <span data-quyen="U" class="border-1">Update</span>
                        }
                        @if (@UserRight[i].Acl.Contains("D"))
                        {
                            <span data-quyen="D" class="border-1 applyQuyen">Delete</span>
                        }
                        else
                        {
                            <span data-right="D" class="border-1">Delete</span>
                        }
                        @if (@UserRight[i].Acl.Contains("X"))
                        {
                            <span data-quyen="X" class="border-1 applyQuyen">Execute</span>
                        }
                        else
                        {
                            <span data-right="X" class="border-1">Execute</span>
                        }
                        @if (@UserRight[i].Acl.Contains("A"))
                        {
                            <span data-quyen="A" class="border-1 applyQuyen">Approve</span>
                        }
                        else
                        {
                            <span data-quyen="A" class="border-1">Approve</span>
                        }
                    </div>
                    <div class="deleteGroup"><span class="removeGroup icon-close"></span></div>
                </li>
            }
        }
    </ul>
</div><!-- end. .changeACL -->
<input type="hidden" name="Sysright" id="SysrightHidden" />
<script type="text/javascript">
    $(document).ready(function () {

        //$.get('User/GetUserList', function (data) {
        //    $.each(data, function (index, val) {
        //        $('#UserlistAcl')
        //        .append($("<option></option>")
        //        .attr("value", val.Sid)
        //        .text(val.UserName));
        //    });
            
        //});

        //$.get('Group/GetGroupList', function (data) {
        //    $.each(data, function (index, val) {
        //        $('#GrouplistAcl')
        //        .append($("<option></option>")
        //        .attr("value", val.Sid)
        //        .text(val.GroupName));
        //    });

        //});
        var Sidarr = [];
        $('.changeACL .listGroup > li').each(function (index, item) {

            var sysright = {
                Sid: ($(item).data('id')).toString(),
                Acl: $(item).data('quyen')
            };
            console.log(sysright);
            Sidarr.push(sysright);
        });
        $('.changeACL .listUser > li').each(function (index, item) {
            var sysright = {
                Sid: ($(item).data('id')).toString(),
                Acl: $(item).data('quyen')
            };
            Sidarr.push(sysright);
        });
        $('#SysrightHidden').val(JSON.stringify(Sidarr));
        console.log($('#SysrightHidden').val());
    });
</script>
