﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


    <!-- General meta information -->
    <title>Login Form by Oussama Afellad</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="index, follow" />
    <meta charset="utf-8" />
    <!-- // General meta information -->
    <!-- Load Javascript -->
    @Scripts.Render("~/bundles/jquerylogin")
    <!-- // Load Javascipt -->
    <!-- Load stylesheets -->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/stylelogin.css")" media="screen" />
    <!-- // Load stylesheets -->

    <script>


        $(document).ready(function () {

            $("#submit1").hover(
            function () {
                $(this).animate({ "opacity": "0" }, "slow");
            },
            function () {
                $(this).animate({ "opacity": "1" }, "slow");
            });
        });


    </script>

</head>
<body>

    <div id="wrapper">
        <div id="wrappertop"></div>

        @RenderBody()

        <div id="wrapperbottom"></div>

        <div id="powered">
            <p>Powered by <a href="http://www.premiumfreebies.eu">Premiumfreebies Control Panel</a></p>
        </div>
    </div>

</body>
</html>