﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    @Styles.Render("~/Style/Product")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <!-- The DevExpress ASP.NET MVC Extensions' scripts -->
    @*@Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.Report },
        new Script { ExtensionSuite = ExtensionSuite.Scheduler },
        new Script { ExtensionSuite = ExtensionSuite.TreeList }
    )*@

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
    )
    <script type="text/javascript">
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            if (jqxhr.responseJSON) {
                alert(jqxhr.responseJSON.ErrorCode + "\n\n\n\n" + jqxhr.responseJSON.ErrorMessage);
            }
        });
    </script>

</head>
<body>
    <header id="header" class="border-bottom-1-2 bg-header">
        <nav id="header-nav">
            <div id="Accout-Notification">
                <div id="historyWork">
                    <span class="icon-clock" title="history Work"></span>
                    <div class="dropdown-menu border-1 bg-box">
                        history Work
                    </div>
                </div>
                <div id="Notification">
                    <span class="icon-bell" title="Notification"></span>
                    <div class="dropdown-menu border-1 bg-box">
                        Notification
                    </div>
                </div>
                <div id="accout">
                    <span class="icons-settings">
                        <a href="#">@User.Identity.Name</a>
                    </span>
                    <div class="dropdown-menu-1 border-1 bg-box">
                        profile / Settings
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="menu" class="bg-menu border-right-1">
        <nav>
            <ul>
                <li><a href="@Url.Action("Index", "Product")">Product</a></li>
                <li><a href="@Url.Action("GetProductAudList", "Product")">Product Audit List</a></li>
                <li><a href="@Url.Action("Index", "CustomerCategory")">Customer Category</a></li>
            </ul>
        </nav>
    </div>
        @RenderBody()

    @Scripts.Render("~/Scripts/jlinq")
    @Scripts.Render("~/Script/Dropdown")
</body>
</html>