﻿@model List<los_controller.Models.SysRight>

@helper CutACL(string acl)
{
    if (acl.Contains(los_controller.Utility.EnumUtil.AclEnum.V.ToString()))
    {
        <span class="border-1 applyQuyen">@los_controller.Resources.ACL.V</span>
        //edit
    }
    else
    {
        <span class="border-1">@los_controller.Resources.ACL.V</span>
    }
    if (acl.Contains(los_controller.Utility.EnumUtil.AclEnum.U.ToString()))
    {
        <span class="border-1 applyQuyen">@los_controller.Resources.ACL.U</span>
    }
    else
    {
        <span class="border-1">@los_controller.Resources.ACL.U</span>
    }
    if (acl.Contains(los_controller.Utility.EnumUtil.AclEnum.D.ToString()))
    {
        <span class="border-1 applyQuyen">@los_controller.Resources.ACL.D</span>
    }
    else
    {
        <span class="border-1">@los_controller.Resources.ACL.D</span>
    }
    if (acl.Contains(los_controller.Utility.EnumUtil.AclEnum.S.ToString()))
    {
        <span class="border-1 applyQuyen">@los_controller.Resources.ACL.S</span>
    }
    else
    {
        <span class="border-1">@los_controller.Resources.ACL.D</span>
    }
    if (acl.Contains(los_controller.Utility.EnumUtil.AclEnum.X.ToString()))
    {
        <span class="border-1 applyQuyen">@los_controller.Resources.ACL.X</span>
    }
    else
    {
        <span class="border-1">@los_controller.Resources.ACL.X</span>
    }
    if (acl.Contains(los_controller.Utility.EnumUtil.AclEnum.A.ToString()))
    {
        <span class="border-1 applyQuyen">@los_controller.Resources.ACL.A</span>
    }
    else
    {
        <span class="border-1">@los_controller.Resources.ACL.A</span>
    }

}

@if (Model != null && Model.Count > 0)
{
    if (Model.Count(e => e.Type == los_controller.Utility.EnumUtil.RightEnum.User) != 0)
    {
        <h4>Users:</h4>
        <ul class="listUser">
            @foreach (var datamodel in Model.Where(e => e.Type == los_controller.Utility.EnumUtil.RightEnum.User))
            {
                <li data-id=@datamodel.Sid class="border-bottom-1-2 border-top-1-2">

                    <div class="nameUser"><a href="#" class="icon-user">@datamodel.Name</a></div>
                    <div class="quyenUser">@CutACL(@datamodel.Acl)</div>
                </li>
            }
        </ul>
    }

    if (Model.Count(e => e.Type == los_controller.Utility.EnumUtil.RightEnum.Group) != 0)
    {
        <h4>Groups:</h4>
        <ul class="listGroup">
            @foreach (var datamodel in Model.Where(e => e.Type == los_controller.Utility.EnumUtil.RightEnum.Group))
            {
                <li data-id="@datamodel.Sid" class="border-bottom-1-2 border-top-1-2">
                    <div class="nameGroup"><a href="#" class="icon-users">@datamodel.Name</a></div>
                    <div class="quyenGroup">@CutACL(@datamodel.Acl)</div>
                </li>
            }
        </ul>
    }
}
