﻿@model los_controller.Models.CustomerCategoryViewModel

<div id="header-product" class="bg-pg-header border-bottom-1-2">
    <div id="box-header-product">
        <div id="header-product-text" class="h2-1"><h2>Customer Category Management</h2></div>
        <div id="header-product-menu">
            <div id="list-bottom-product">
                @Html.Partial("_ButtonBar", ViewData["ButtonBar"])
            </div>
        </div>
    </div>
</div>
<div id="body-product" class="bg-pg ac-custom ac-checkbox ac-checkmark">
    <div id="tab-view" class="tab-view border-bottom-1-2 bg-pg-header">
        <span id="tab-main-UDF" class="active">Properties</span>
        <span id="tab-ACL">Access Control Definition</span>
    </div>
    <div id="main-product">
        <div id="body-main-product" class="view-main-product">
            <h3 class="border-bottom-1-2">Main Properties</h3>
            <ul>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.CustCatID)</span>
                    <p>@Model.CustCatID</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.CustCatName)</span>
                    <p>@Model.CustCatName</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.ParentID)</span>
                    <p>@Model.ParentID</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.InheritConditionBoolean)</span>
                    <p>@Html.CheckBoxFor(x => x.InheritConditionBoolean, new { @disabled = "disabled" })<label for="InheritConditionBoolean">Allow</label></p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.InheritDocumentBoolean)</span>
                    <p>@Html.CheckBoxFor(x => x.InheritDocumentBoolean, new { @disabled = "disabled" })<label for="InheritDocumentBoolean">Allow</label></p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.InheritMenuAclBoolean)</span>
                    <p>@Html.CheckBoxFor(x => x.InheritMenuAclBoolean, new { @disabled = "disabled" })<label for="InheritMenuAclBoolean">Allow</label></p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.InheritParentAclBoolean)</span>
                    <p>@Html.CheckBoxFor(x => x.InheritParentAclBoolean, new { @disabled = "disabled" })<label for="InheritParentAclBoolean">Allow</label></p>
                </li>
            </ul>
        </div>
        <div id="body-ACL-product">
            <div class="viewACL">
                @Html.Partial("_ViewACL", @Model.CustCatRight)
            </div>
        </div>
    </div>
</div>
