﻿@model los_controller.Models.CustomerCategoryViewModel

<div id="combobox">
    <div id="body-combobox">
        <div id="header-combobox" class="border-bottom-1-2 bg-pg-header">
            <div id="tab-view-new-edit" class="tab-view">
                <span id="tab-main-UDF" class="actived">Main properties</span>
                <span id="tab-ACL">Access Control Definition</span>
            </div>
            <div id="list-bottom-combobox">
                <div id="save-product" class="color-title border-left-1-1">Save</div>
                <div id="exit-combobox" class="color-title border-left-1-1">Cancel</div>
            </div>
        </div>
        <div id="content-combobox">
            <div class="layout-new-edit ac-custom ac-checkbox ac-checkmark">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "save-form" }))
                {
                    <div class="change-Main-Udf">
                        <h3 class="border-bottom-1-2">Main Properties</h3>
                        <ul>
                            @if (Model.SysTranID != null)
                            {
                                <li>
                                    <span>@Html.DisplayNameFor(e => e.SysTranID)</span>
                                    <p>
                                        @Html.DisplayTextFor(e => e.SysTranID)
                                    </p>
                                </li>
                            }
                            <li>
                                <span>@Html.DisplayNameFor(e => e.CustCatID)</span>
                                <p>
                                    @Html.EditorFor(e => e.CustCatID)
                                    @Html.ValidationMessageFor(e => e.CustCatID)
                                </p>

                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.CustCatName)</span>
                                <p>
                                    @Html.EditorFor(e => e.CustCatName)
                                    @Html.ValidationMessageFor(e => e.CustCatName)
                                </p>
                            </li>
                            <li class="list-select">
                                <span>@Html.DisplayNameFor(e => e.ParentID)</span>
                                <p>
                                    <select name="product-parent">
                                        <option value="node1">Node 1</option>
                                        <option value="node2">Node 2</option>
                                        <option value="node3">Node 3</option>
                                        <option value="node4">Node 4</option>
                                        <option value="node5">Node 5</option>
                                    </select>
                                </p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.InheritConditionBoolean)</span>
                                <p>@Html.CheckBoxFor(e => e.InheritConditionBoolean)<label for="InheritConditionBoolean"></label></p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.InheritDocumentBoolean)</span>
                                <p>@Html.CheckBoxFor(e => e.InheritDocumentBoolean)<label for="InheritDocumentBoolean"></label></p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.InheritMenuAclBoolean)</span>
                                <p>@Html.CheckBoxFor(e => e.InheritMenuAclBoolean)<label for="InheritMenuAclBoolean"></label></p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.InheritParentAclBoolean)</span>
                                <p>@Html.CheckBoxFor(e => e.InheritParentAclBoolean)<label for="InheritParentAclBoolean"></label></p>
                            </li>
                        </ul>
                    </div>
                    @Html.HiddenFor(e => e.AuditOperation);
                    @Html.HiddenFor(e => e.TranAction);
                    @Html.HiddenFor(e => e.CustCatAudID);
                }

                <div class="changeACL">
                    <h4>Users:</h4>
                    <div class="addUserProduct background-1 border-top-bottom-1">
                        <form name="formAddUser">
                            <input type="text" list="listUsers" name="userAdd" placeholder="Username address">
                            <datalist id="listUsers">
                                <option value="4-Input User 1">Input User 1</option>
                                <option value="5-Input User 2">Input User 2</option>
                                <option value="6-Input User 3">Input User 3</option>
                                <option value="7-Input User 4">Input User 4</option>
                                <option value="8-Input User 5">Input User 5</option>
                                <option value="3-Approval User">Approval User</option>
                            </datalist>
                            <select name="quyenUser" multiple>
                                <option value="V">View</option>
                                <option value="I">Input</option>
                                <option value="U">Update</option>
                                <option value="D">Delete</option>
                                <option value="A">Approve</option>
                            </select>
                            <span class="addUser border-1">Add</span>
                        </form>
                    </div>
                    <ul class="listUser">
                        @if (Model.CustCatRight != null && Model.CustCatRight.Count > 0)
                        {
                            var UserRight = Model.CustCatRight.Where(e => e.Type.Equals(los_controller.Utility.EnumUtil.RightEnum.User)).ToList();
                            for (int i = 0; i < UserRight.Count; i++)
                            {
                                <li data-id="@UserRight[i].Sid" class="border-bottom-1-2">
                                    <div class="nameUser"><a href="#" class="icon-users">@UserRight[i].Name</a></div>
                                    <div class="quyenUser">

                                        @if (@UserRight[i].Acl.Contains("V"))
                                        {
                                            <span data-right="V" class="applyQuyen">View</span>
                                        }
                                        else
                                        {
                                            <span data-right="V">View</span>
                                        }
                                        @if (@UserRight[i].Acl.Contains("I"))
                                        {
                                            <span data-right="I" class="applyQuyen">Input</span>
                                        }
                                        else
                                        {
                                            <span data-right="I">Input</span>
                                        }
                                        @if (@UserRight[i].Acl.Contains("U"))
                                        {
                                            <span data-right="U" class="applyQuyen">Update</span>
                                        }
                                        else
                                        {
                                            <span data-right="U">Update</span>
                                        }
                                        @if (@UserRight[i].Acl.Contains("D"))
                                        {
                                            <span data-right="D" class="applyQuyen">Delete</span>
                                        }
                                        else
                                        {
                                            <span data-right="D">Delete</span>
                                        }
                                        @if (@UserRight[i].Acl.Contains("A"))
                                        {
                                            <span data-right="A" class="applyQuyen">Approve</span>
                                        }
                                        else
                                        {
                                            <span data-right="A">Approve</span>
                                        }
                                    </div>
                                    <div class="deleteUser"><span class="removeUser icon-close"></span></div>
                                </li>
                            }
                        }

                    </ul>

                    <h4>Groups:</h4>
                    <div class="addGroupProduct background-1 border-top-bottom-1">
                        <form name="formAddGroup">
                            <input type="text" list="selectGroup" name="selectGroup" placeholder="Group name address">
                            <datalist id="selectGroup">
                                <option value="idGroup1">Group 1</option>
                                <option value="idGroup2">Group 2</option>
                                <option value="idGroup3">Group 3</option>
                                <option value="idGroup4">Group 4</option>
                                <option value="idGroup5">Group 5</option>
                                <option value="idGroup6">Group 6</option>
                                <option value="idGroup7">Group 7</option>
                                <option value="idGroup8">Group 8</option>
                                <option value="idGroup9">Group 9</option>
                                <option value="idGroup10">Group 10</option>
                                <option value="idGroup11">Group 11</option>
                                <option value="idGroup12">Group 12</option>
                                <option value="idGroup13">Group 13</option>
                                <option value="idGroup14">Group 14</option>
                                <option value="idGroup15">Group 15</option>
                                <option value="idGroup16">Group 16</option>
                                <option value="idGroup17">Group 17</option>
                            </datalist>
                            <select class="quyenGroup" name="quyenGroup" multiple>
                                <option value="V">View</option>
                                <option value="I">Input</option>
                                <option value="U">Update</option>
                                <option value="D">Delete</option>
                                <option value="A">Approve</option>
                            </select>
                            <span class="addGroup border-1">Add</span>
                        </form>
                    </div>
                    <ul class="listGroup">
                        <li data-id="idGroup1" class="border-bottom-1-2">
                            <div class="nameGroup"><span class="icon-users">Administrators</span></div>
                            <div class="quyenGroup"><span class="border-1" data-quyen='read'>Read</span><span class="border-1 applyQuyen" data-quyen='write'>Write</span><span class="border-1" data-quyen='admin'>Admin</span></div>
                            <div class="deleteGroup"><span class="removeGroup icon-close"></span></div>
                        </li>
                        <li data-id="idGroup2" class="border-bottom-1-2">
                            <div class="nameGroup"><span class="icon-users">Developers</span></div>
                            <div class="quyenGroup"><span class="border-1" data-quyen='read'>Read</span><span class="border-1" data-quyen='write'>Write</span><span class="border-1 applyQuyen" data-quyen='admin'>Admin</span></div>
                            <div class="deleteGroup"><span class="removeGroup icon-close"></span></div>
                        </li>
                    </ul>
                </div><!-- end. .changeACL -->
            </div><!-- end. .layout-new-edit-product -->
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse($('#save-form'));
    });

    (function () {
        $('#save-product').click(function (e) {
            e.preventDefault();
            if ($('#save-form').valid()) {
                $.ajax({
                    url: '/CustomerCategory/SaveCustomerCategory',
                    data: $('#save-form').serialize(),
                    type: 'POST',
                    success: function (result) {
                        alert("Save Successfully");
                    },
                    error: function () {
                    }
                });
            } else {
                console.log('validate failed');
            }
        });
    })();
</script>