$h-header: 50px;
$h-footer: 30px;
$w-menu: 200px;

#header { height: $h-header; width: 100%; background: $bg-header; position: fixed; top: 0; left: 0; z-index: 2; @include border-bottom($border-color, $border-w1);

	#header-nav { width: 100%; height: $h-header; margin: auto; position: relative; }
	a { color: #fff; }
}
span a { font-size: $font-size; }
#Accout-Notification { position: absolute; top: 0; right: 10px; width: auto; height: $h-header;

	> div { height: $h-header; line-height: $h-header; width: 45px; float: left; position: relative; 
		[class*="icon-"]:before, [class*="icons-"]:after { color: $color;}
	}
	> #accout { width: auto; 
		.icons-settings:after { margin-right: 10px; padding-left: 10px; }
	}
}

#menu { width: $w-menu; height: calc( 100% - #{$h-header + $h-footer}); position: fixed; top: $h-header; left: 0px; z-index: 10; background: $bg-menu; @include border-right; transition: all .6s;
    nav { width: 100%; height: calc(100% - 40px); 
        ul { height: 26px; display: block; }
        li { height: 26px; display: block; line-height: 26px;
            a { margin-left: 12px; color: $color-link;
                &:hover { @include border-bottom($border-link, 2px); }
            }
        }
    }
    #hideMenu { height: 40px; width: 100%; position: absolute; @include border; border-right: none; cursor: pointer;
        &:hover { background: #c9c9c9; 
            span {
                &:after { border: 10px solid #c9c9c9; }   
            }
        }
        span { width: 40px; height: 40px; position: absolute; right: 0; top: 0; transition: all .6s; border-radius: 20px;
            &:before { width: 40px; height: 40px; font-size: 30px; position: absolute; left: 0; top: 0; color: #555; margin: 5px; }
            &:after { content: ''; width: 40px; height: 40px; border-radius: 20px; border: 10px solid #f5f5f5; box-sizing: border-box; position: absolute; left: 0; top: 0; }
        }
        &.hideMenu {
            span { 
                -ms-transform: rotate(180deg); /* IE 9 */
                -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                transform: rotate(180deg);
            }
        }
    }
}



footer { width: 100%; height: $h-footer; line-height: $h-footer; position: fixed; box-sizing: border-box; background: $bg-header; color: $color; @include border-top; text-align: center; bottom: 0; left: 0; z-index: 10; }