
@mixin border ($color: $border-color, $w: 1px) {
	border: $w solid $color;
}

@mixin border-left ($color: $border-color, $w: 1px) {
	border-left: $w solid $color;
}

@mixin border-top ($color: $border-color, $w: 1px) {
	border-top: $w solid $color;
}

@mixin border-right ($color: $border-color, $w: 1px) {
	border-right: $w solid $color;
}

@mixin border-bottom ($color: $border-color, $w: 1px) {
	border-bottom: $w solid $color;
}

@mixin border-radius ($w) {
	border-radius: $w;
}

@mixin box-sizing ($sizing) {
	box-sizing: $sizing; 
	-moz-box-sizing: $sizing; 
	-webkit-box-sizing: $sizing;
}

@mixin bg-opacity ($color) {
	background: $color;
}


@mixin treeClass {
	.tree { width: 100%; height: 100%; display: block; box-sizing: border-box; @include border-right;
        .treeHeader { height: 35px; box-sizing: border-box; padding: 4px 0 0 16px; background: $bg-header-box; @include border-bottom; }
        .treeBody { width: 100%; height: calc(100% - 35px); position: absolute; overflow: auto; position: relative; background: $bg-tree;
            ul { height: auto; display: none; }
            li { margin-left: 18px; position: relative; min-height: 22px; height: auto; 
               &.listTree:before { z-index: 3; text-align: center; line-height: 14px; content: ''; width: 14px; height: 14px; position: absolute; top: 4px; left: -12px; background-image: url(../images/expand.png); cursor: pointer; }
               &.selectTree:before { background-image: url(../images/collapse.png); }
            }
            a { height: 24px; line-height: 24px; padding: 0 10px 0 6px; font-size: 14px; white-space: nowrap; color: $color-tree; 
                &.active-tree { color: $color-tree-active; z-index: 10;
                    &:before { content: ''; z-index: 2; width: 260px; height: 24px; @include bg-opacity($bg-opacity); left: 200px; position: fixed; }
                }
            }
            >ul { margin-top: 10px; display: block; 
                > li { margin-left: 12px; }
            }
        }
    }
}


    /* View ACL 
-------------------------------------------------------------------------------------------*/
@mixin viewACL {
    .viewACL { width: 100%; height: auto; 
        h3 { margin-top: 20px; height: 24px; @include border-bottom; font-weight: 700; }
        h4 { width: 100%; height: 30px; display: block; margin-top: 30px; @include border-bottom; }
        .listUser, .listGroup { width: 100%; height: auto; display: block;
            li { width: 100%; height: 36px; padding: 0; display: block; @include border-bottom; 
                >div { display: table-cell; }
            }
            .nameUser { width:  360px; padding-left: 7px; line-height: 36px; box-sizing: padding-box; }
        }
        [class*="icon-"]::before { margin-right: 6px; }
        .quyenUser, .quyenGroup { width: 410px; text-align: center; 
            span { box-sizing: border-box; transition: all .6s; cursor: auto; padding: 2px 5px; margin-right: 4px; border-radius: 3px; display: inline-table; font-size: 13px; @include border;

                &.applyQuyen { background: $bg-bottom; color: $color; border: 1px solid $bg-bottom; }
            }
        }
        .nameGroup { width:  360px; padding-left: 7px; line-height: 36px; }
    }
}


/* combobox (Layout New/Edit) */
@mixin combobox {
	#combobox { width: 100%; height: 100%;
		#header-combobox { height: 35px; position: absolute; width: 100%; right: 0; z-index: 1; top: 0; background: $bg-header-pg; @include border-bottom; 
		      >div { height: 35px; }
               #tab-view-new-edit { width: auto; float: left; line-height: 35px; box-sizing: padding-box; }
	           #list-bottom-combobox { float: right; 
                    > div { height: 35px; padding: 0 15px; float: left; line-height: 35px; text-align: center; cursor: pointer; @include border-left; }
               }
		}
        #content-combobox { width: 100%; height: calc(100% - 35px); top: 35px; position: absolute; overflow: auto;
            #body-combobox { width: 800px; background: $bg-box; box-shadow: 0 0 2px $border; margin: 10px 6px 20px 6px;  }
        }
	}
}


/* layout Delele */
@mixin layoutDelete {
	#layoutDeleteTree { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); z-index: 101; 
        > div { background: #999; width: 300px; overflow: hidden; height: 200px; position: absolute; margin: auto; left: calc(50% - 150px); top: calc(50% - 100px); background: #EFEFEF; border-radius: 5px; }
        p { width: 100%; height: 160px; display: block; text-align: center; color: #444444; line-height: 160px; }
        #DeleteTree { width: 100%; height: 40px; display: block; z-index: 0; 
            span { color: #F8D5DA; cursor: pointer; width: 150px; height: 40px; text-align: center; line-height: 40px; float: left; background: #999; 
                &.yesDelete { border-left: 1px solid #fff; }
            }
        }
    }
}