﻿﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/js/module.js")
    @RenderSection("style", required: false)
    @Styles.Render("~/Content/scss/product.css")
</head>
<body>
    @Html.Partial("header")

    @Html.Partial("menu")

    <div id="content">
        @Html.Partial("headerPg", ViewData["ButtonBar"])
        @RenderBody()
    </div>
    @Html.Partial("footer")

    <input type="hidden" id="CurentController" data-value="@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()" />
    @Scripts.Render("~/Scripts/js/Module.js")
</body>
</html>
