﻿﻿<header id="header">
    <nav id="header-nav">
        <div id="Accout-Notification">
            <div id="historyWork">
                <span class="icon-clock" title="history Work"></span>
                <div class="dropdown-menu border-1 bg-box">
                    history Work
                </div>
            </div>
            <div id="Notification">
                <span class="icon-bell" title="Notification"></span>
                <div class="dropdown-menu border-1 bg-box">
                    Notification
                </div>
            </div>
            <div id="accout">
                <span class="icons-settings" title="Setting">
                    <a href="#">Accout Name</a>
                </span>
                <div class="dropdown-menu-1 border-1 bg-box">
                    profile / Settings
                </div>
            </div>
        </div>
    </nav>
</header>