﻿@model Framework.Models.ButtonModel
<div id="header-page" class="bg-pg-header border-bottom-1-2">
    <div id="box-header-page">
        <div id="header-page-text" class="h2-1"><h2>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() Management</h2></div>
        <div id="header-page-menu">
            <div id="list-bottom-page">
                @*<span id="new-item" title="New Product"><p>new</p></span>
                    <span id="edit-item" title="Edit Product"><p>edit</p></span>
                    <span id="delete-item" title="Delete Product"><p>delete</p></span>*@
                @if (Model.RightName != null)
                {
                    if (Model.RightName.Contains("I"))
                    {
                        <span>@Html.ActionLink("Insert", "Insert", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())</span>
                    }
                    if (Model.RightName.Contains("U"))
                    {
                        <span>
                            <a href="@Url.Action("Update", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), new { @destId = @Model.DestId })">Update</a>
                        </span>
                    }
                    if (Model.RightName.Contains("D"))
                    {
                        <span>
                            <a href="@Url.Action("Delete", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), new { @destId = @Model.DestId })">Delete</a>
                        </span>
                    }
                    if (Model.RightName.Contains("S"))
                    {
                        <span><a id="SaveButton">Save</a></span>
                    }
                     if (Model.RightName.Contains("S"))
                    {
                        <span>@Html.ActionLink("Cancel", "Index", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), null)</span>
                    }
                    if (Model.RightName.Contains("A"))
                    {
                        <span>@Html.ActionLink("Approve", "Approve", "Approve", new { @destId = @Model.DestId },null)</span>
                    }
                }
            </div>
        </div>
    </div>
</div>