﻿﻿<div id="menu">
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Product", "Index", "Product")</li>
            <li>@Html.ActionLink("Customer Category", "Index", "Customer")</li>
            <li>@Html.ActionLink("Approve", "Index", "Approve")</li>
        </ul>
    </nav>
    <div id="hideMenu">
        <span class="icon-arrow-left"></span>
    </div>
</div>