
/* Layout Tree */
#tree { width: 100%; height: 100%; display: block; box-sizing: border-box; }
#treeHeader { height: 35px; box-sizing: border-box; padding: 4px 0 0 16px; }
#treeBody { width: 100%; height: calc(100% - 35px); position: absolute; overflow: auto; position: relative; }
#treeBody ul { height: auto; display: none; }
#treeBody li { margin-left: 18px; position: relative; min-height: 22px; height: auto; }
#treeBody a { height: 24px; line-height: 24px; padding: 0 10px 0 6px; font-size: 14px; white-space: nowrap;}
#treeBody li.listTree:before { z-index: 3; text-align: center; line-height: 14px; content: ''; width: 14px; height: 14px; position: absolute; top: 4px; left: -12px; background-image: url(../../images/expand.png); cursor: pointer; }
#treeBody li.selectTree:before { background-image: url(../../images/collapse.png); }
#treeBody > ul { margin-top: 10px; display: block; }
#treeBody > ul > li { margin-left: 12px; }



/* layoutDelete 
--------------------------------------------------------------------------------------------*/
#layoutDeleteTree { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); z-index: 101; }
#layoutDeleteTree > div { background: #999; width: 300px; overflow: hidden; height: 200px; position: absolute; margin: auto; left: calc(50% - 150px); top: calc(50% - 100px); background: #EFEFEF; border-radius: 5px; }
#layoutDeleteTree p { width: 100%; height: 160px; display: block; text-align: center; color: #444444; line-height: 160px; }
#DeleteTree { width: 100%; height: 40px; display: block; z-index: 0; }
#DeleteTree span { color: #F8D5DA; cursor: pointer; width: 150px; height: 40px; text-align: center; line-height: 40px; float: left; background: #999; }
.yesDelete { border-left: 1px solid #fff; }



/* View Main*/
.view-main { display: block; width: 100%; height: auto; }
.view-main h3 { margin-top: 20px; height: 30px; }
.view-main ul { width: 100%; height: auto; display: block; }
.view-main li { width: 100%; height: auto;  display: block; padding: 5px 0; }
.labelname { width: 210px; display: table-cell; font-size: 16px; }
.view-main p { display: table-cell; white-space: inherit; padding-left: 10px; vertical-align: middle; }



/* View ACL 
-------------------------------------------------------------------------------------------*/
.viewACL { width: 100%; height: auto; }
.viewACL a { color: #777; }
.viewACL h3 { margin-top: 20px; height: 30px; }
.viewACL h4 { width: 100%; height: 30px; display: block; margin-top: 30px; }
.viewACL .listUser, .listGroup { width: 100%; height: auto; display: block; }
.viewACL .listUser li, .viewACL .listGroup li { width: 100%; height: 36px; padding: 0; display: block; }
.viewACL .listUser li > div, .listGroup li > div {  display: table-cell; }
.viewACL .listUser .nameUser { width:  360px; padding-left: 7px; line-height: 36px; box-sizing: padding-box; }
.viewACL [class*="icon-"]::before { margin-right: 6px; }
.viewACL .listUser .quyenUser,.viewACL .listGroup .quyenGroup { width: 410px; text-align: center; }
.viewACL .quyenUser span, .viewACL .quyenGroup span { box-sizing: padding-box; transition: all .6s; cursor:auto; padding: 2px 5px; margin-right: 4px; border-radius: 3px; display: inline-table; font-size: 13px; }
.viewACL .nameGroup { width:  360px; padding-left: 7px; line-height: 36px; }




/* combobox (Layout New/Edit) */
#combobox { width: 100%; height: auto; }
#body-combobox { position: relative; }
#header-combobox { height: 35px; position: fixed; width: calc(100% - 460px); right: 0; z-index: 1; margin-top: 0; }
#header-combobox > div { height: 35px; }
#tab-view-new-edit { width: auto; float: left; line-height: 35px; box-sizing: padding-box; }
#list-bottom-combobox { float: right; }
#list-bottom-combobox > div { height: 35px; padding: 0 15px; float: left; line-height: 35px; text-align: center; cursor: pointer; }
#content-combobox { width: 100%; height: calc(100% - 46px); padding-top: 35px; display: block; position: relative; }
#content-combobox > div { min-height: 100%; height: auto; display: block; }



/* layout New/Edit */
.layout-new-edit { width: 100%; height: auto; display: block; padding: 10px; }
.change-Main-Udf h3 { height: 36px; line-height: 36px; }
.change-Main-Udf ul { margin-bottom: 30px; }
.change-Main-Udf li { width: 100%; height: auto;  display: block; padding: 5px 0; }
.change-Main-Udf li > span { width: 200px; font-size: 15px; height: 22px; display: block; display: inline-block; }
.change-Main-Udf p { width: 520px; white-space: inherit; padding: 0 10px; vertical-align: middle;  display: inline-block; } 
.change-Main-Udf input , .change-Main-Udf textarea { width: 500px; height: 30px; border-radius: 0; transition: all 0.6s; padding: 0 6px; }
.change-Main-Udf textarea:focus { height: 130px; max-height: 130px; }
.change-Main-Udf select { width: 250px; padding: 2px; height: 30px; display: inline-block; }
.change-Main-Udf select option { width: 100%; height: 20px; line-height: 20px; padding: 0 5px; }
.change-Main-Udf textarea { height: 100px; padding-top: 6px; resize: none; }



/* layout New/Edit ACL  
-------------------------------------------------------------------------------------------*/
.changeACL { width: 100%; height: auto; margin-bottom: 40px; display: block; }
.changeACL h3 { height: 30px; }
.changeACL h4 { width: 100%; height: 30px; font-weight: normal; display: block; margin-top: 30px; }
.changeACL .listUser, .listGroup { width: 100%; height: auto; display: block; }
.changeACL .listUser li, .changeACL .listGroup li { width: 100%; height: 36px; padding: 0; display: block; }
.changeACL .listUser li > div, .listGroup li > div { display: table-cell; }
.changeACL .nameUser, .changeACL .nameGroup { width:  360px; padding-left: 7px; line-height: 36px; }
.changeACL .listUser .quyenUser, .listGroup .quyenGroup { width: 390px; text-align: center; }
.changeACL .quyenUser span, .quyenGroup span { box-sizing: padding-box; transition: all .6s; cursor: pointer; padding: 2px 5px; margin-right: 4px; border-radius: 3px; display: inline-table; font-size: 13px;}
.applyQuyen { background: #606060; color: #fff; border: 1px solid #606060; }
.changeACL [class*="icon-"]:before { margin-right: 6px; }
.addUserItem, .addGroupItem { padding: 5px; }
.changeACL p { display: inline-block; }
.changeACL select { width: 325px; height: 38px; display: inline-block; }
.changeACL  .multiple select { width: 330px; margin-left: 25px; }
.changeACL select option { height: 24px; line-height: 24px; padding-left: 10px ; width: 100%; display: block; }
.addUserItem .addUser, .addGroupItem .addGroup { display: inline-block; height: 32px; line-height: 32px; border-radius: 3px; margin-left: 30px; cursor: pointer; padding: 0 5px; }
.removeUser, .removeGroup { cursor: pointer; }



/* layout Seach */
.seach { width: 230px; overflow: hidden; height: 26px; background: #fff; border-radius: 13px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.input-seach { border: none; height: 24px; width: 196px; float: left; margin-left: 8px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.label-seach { height: 19px; font-size: 13px; font-weight: 700; margin-top: 2px; padding: 3px 4px 0 4px; float: left; } 
