*,:after,::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/*.ac-custom ul,.ac-custom ol{list-style:none;padding:0;margin:0 auto;}*/
.ac-custom li{margin:0 auto;padding:10px 0;position:relative; }
.ac-custom p {margin:0 auto;position:relative; }
.ac-custom label{display:inline-block;position:relative;font-size:16px;padding:0 0 0 40px;vertical-align:top;color:rgba(0,0,0,0.32);cursor:pointer;-webkit-transition:color .3s;transition:color .3s}
.ac-custom input[type="checkbox"],.ac-custom input[type="radio"],.ac-custom label::before{width:22px;height:22px;left:0;margin-top:-2px;position:absolute;cursor:pointer}
.ac-custom input[type="checkbox"],.ac-custom input[type="radio"]{opacity:0;-webkit-appearance:none;display:inline-block;vertical-align:middle;z-index:100}
.ac-custom label::before{content:'';border:2px solid #c2c2c2;-webkit-transition:opacity .3s;transition:opacity .3s}
.ac-radio label::before{border-radius:50%}
.ac-custom input[type="checkbox"]:checked + label,.ac-custom input[type="radio"]:checked + label{color:#777}
.ac-custom input[type="checkbox"]:checked + label::before,.ac-custom input[type="radio"]:checked + label::before{opacity:.8}
.ac-custom svg{position:absolute;width:24px;height:24px;margin-top:-6px;left:10px;pointer-events:none}
.ac-custom svg path{stroke:#888;stroke-width:13px;stroke-linecap:round;stroke-linejoin:round;fill:none}
.ac-circle input[type="checkbox"],.ac-circle input[type="radio"],.ac-circle label::before{width:30px;height:30px;margin-top:-15px;left:10px; position:absolute}
.ac-custom input[type="checkbox"] { left: 10px;}
.ac-circle label::before{background-color:#fff;border:none}
.ac-circle svg{width:70px;height:70px;margin-top:-35px;left:-10px}
.ac-circle svg path{stroke-width:5px}
.ac-boxfill svg path{stroke-width:8px}
.ac-swirl svg path{stroke-width:8px}
.ac-list ol{list-style:decimal;list-style-position:inside}
.ac-list ol li{font-size:2em;padding:1em 1em 0 2em;text-indent:-40px}
.ac-list ol li label{font-size:1em;text-indent:0;padding-left:30px}
.ac-list label::before{display:none}
.ac-list svg{width:100%;height:80px;left:0;top:1.2em;margin-top:0}
.ac-list svg path{stroke-width:4px}
