@import "../css/import/simple-line-icons.css";
@import "import/theme";
@import "import/module";
@import "import/reset";
@import "import/all";
@import "import/header";
@import "../css/import/dd.css";

body { font-family: $font-body; width: 100%; height: 100%; position: absolute; transition: all .6s; } 

* [class*="icon-"]:before, * [class*="icons-"]:after { cursor: pointer; }
* [class*="icons-"]:after { margin-left: 10px; }
body { font-family: Arial; width: 100%; height: 100%; position: absolute; transition: all .6s; } 
#content { width: calc(100% - 200px); height: calc(100% - 80px); margin: 50px 0 0 200px; position: relative; }





#content-DuyetItem { width: 100%; height: 100%; display: block; position: relative;
    .BoxDuyetItem { width: 1080px; height: 100%; display: block; padding-left: 5px; overflow: hidden; }
    #timkiemItem { width: calc(100% - 200px); height: auto; display: block; left: 200px; top: 50px; position: fixed; z-index: 1; box-shadow: 0 0 3px $border; 
        #headerTimkiem { height: 40px; display: block; background: $bg-header-pg; @include border-bottom; 
            h3 { height: 40px; line-height: 40px; padding-left: 5px; width: auto; display: inline-block; }
        }
        #bodyTimkiem { height: auto; display: block; background: $bg-box; @include border-bottom; 
            ul { width: 100%; min-width: 1080px; height: auto; padding: 5px 10px; display: block; }
            li { width: 100%; height: 38px; line-height: 38px; display: block; 
                input { width: 120px; border-radius: 3px; height: 25px; margin-right: 5px; }
            }
            .seachItem { width: 80px; padding: 4px; margin-left: 44px; border-radius: 3px; color: $color; background: $bottom-seach; cursor: pointer; }
        }
    }
}

.listDuyetItem { width: 100%; height: calc(100% - 136px); display: block; margin-top: 132px; position: relative;
    ul { width: 100%; height: 100%; border-top: none; @include border; }
    li { width: 100%; height: 32px; padding: 1px 0; display: block;
        &.Active { background: #3D9BDA; color: #fff; 
            a { color: #fff; }
        }
        &.titleTruong { height: 28px; padding: 0; box-sizing: border-box; background: linear-gradient(#f9f9f9, #E5E5E5); color: $color-3; @include border-bottom($border);
            span { font-weight: bold; font-size: 14px; float: left; height: 28px; line-height: 28px; @include border-right; position: relative; box-sizing: border-box;
                &:last-child { border-right: none; }
            }
        }
    }
    div { width: 100%; height: calc(100% - 28px); overflow: auto; }
    span { font-size: 13px; float: left; height: 30px; line-height: 30px; padding: 0 6px 0 4px;
        &.truong0 { width: 20px; }
        &.truong1 { width: 110px; }
        &.truong2 { width: 110px; }
        &.truong3 { width: 110px; }
        &.truong4 { width: 110px; }
        &.truong5 { width: 110px; }
        &.truong6 { width: 110px; }
        &.truong7 { width: 180px; }
        &.truong8 { width: 110px; }
        &.truong9 { width: 60px; }
        p {  white-space: nowrap; overflow: hidden; height: 30px; line-height: 30px; }
    }
    a { padding: 0 5px 0 4px; font-size: 12px; text-decoration: underline; color: $color-1; }
}



#viewDuyetItem { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9999; background: $bg-fullSize;
    #viewDuyetBox { width: 800px; height: calc(100% - 20px); display: block; margin: auto; margin-top: 20px; 
        #headView { height: 40px; display: block; border-radius: 4px 4px 0 0; background: linear-gradient(#f9f9f9, #E9E9E9); @include border-bottom;
            h3 { height: 40px; padding: 0 20px; display: inline-block; line-height: 40px; }
            #listBottomDuyet { float: right; color: $color-p;
                span { padding: 0 7px; height: 26px; float: left; margin: 7px 5px 0 5px; line-height: 25px; border-radius: 5px; cursor: pointer; @include border;
                    &.icon-close { width: 26px; height: 26px; padding: 0; position: relative; overflow: hidden; line-height: 0; 
                        &::before { font-size: 38px; position: absolute; margin: 12px 0 0 -7px; color: $color-p; }
                    }
                    &:not(.icon-close) { background: $bottom; }
                }
            }
        }
        #bodyDuyetItem { width: 100%; height: calc(100% - 40px); display: block; background: $bg-box;
            #tab-view-duyetItem { height: 30px; width: 800px; display: block; position: relative; background: $bg-header-pg; @include border-bottom;
                span { position: relative; height: 30px; line-height: 30px; padding: 0 10px; cursor: pointer; display: inline-block; }
            }
            #boxViewDuyetItem { display: block; position: relative; height: calc(100% - 30px); padding: 15px; overflow: auto;
                ul { margin-bottom: 30px; }
                h3 {  font-size: 19px; color: $color-body; height: 36px; @include border-bottom; }
                .labelname { width: 210px; display: table-cell; font-size: 16px; color: $color-p; }
                p { display: table-cell; white-space: inherit; padding-left: 10px; vertical-align: middle; }
            }
        }
    }
}

#acl-duyetItem { display: none; }
.viewACL { width: 100%; height: auto; 
    a { color: #777; }
    h3 { margin-top: 20px; height: 30px; }
    h4 { width: 100%; height: 30px; display: block; margin-top: 30px; }
    .listUser, .listGroup { width: 100%; height: auto; display: block; 
        li { width: 100%; height: 36px; padding: 0; display: block; 
            > div {  display: table-cell; }
        }
    }
    .nameUser { width:  360px; padding-left: 7px; line-height: 36px; box-sizing: padding-box; }
    .nameGroup { width:  360px; padding-left: 7px; line-height: 36px; }
    [class*="icon-"]::before { margin-right: 6px; }
    .listUser .quyenUser, .listGroup .quyenGroup { width: 410px; text-align: center; 
        span { box-sizing: padding-box; transition: all .6s; cursor:auto; padding: 2px 5px; margin-right: 4px; border-radius: 3px; display: inline-table; font-size: 13px; }
    }
}


//.bottomAppreve { background: #8FBC8F; }
//.bottomReject { background: #DE3546; }


.loading img { position: absolute; left: 50%; top: 50%; margin: -12px; }



footer { width: 100%; height: 30px; position: fixed; background: #007EE5; color: #fff; border-top: 1px solid rgba(0, 0, 0, 0.15); text-align: center; line-height: 30px; bottom: 0; left: 0; }