@import "import/theme";
@import "import/module";
@import "import/reset";
@import "import/header";
@import "import/all";
@import "../css/jquery-ui/all.css";
@import "../css/import/dd.css";

// setting
$mL: 460px;
$hHeader: 36px;
$h-tab-view: 35px;
$w-main-page: 800px;


table { width: 600px; height: auto; margin: 20px; border-left: 1px solid #555; border-top: 1px solid #555;
    tr { width: 100%; height: 24px; border-bottom: 1px solid #555;
        td {
            padding: 0 5px; height: 24px; border-right: 1px solid #555;
        }
    }
}


* { font-size: $font-size !important; }
body { font-family: $font-body !important; line-height: 1; overflow: hiden; background: $bg-body; color: $color-body; width: 100%; height: 100%; /* transition: all .6s; */ }
a { font-family: $font-body !important; color: $color-link; }

#content { width: calc(100% - #{$w-menu}); height: 100%; left: $w-menu; top: 0; position: absolute; transition: all .6s; overflow: hiden; }


$w-sidebar: 260px;
#sidebar-content { width: $w-sidebar; height: calc(100% - #{$h-header + $h-footer + $hHeader}); position: fixed; margin-left: 0px; top: $h-header + $hHeader; z-index: 2; }
#content-page { width: calc(100% - #{$w-sidebar}); margin-left: $w-sidebar; height: calc(100% - #{$h-header + $hHeader + $h-footer}); top: #{$h-header + $hHeader}; display: block; box-sizing: border-box; z-index: 1; position: absolute;  }



// demo
#sidebar-content { margin: 20px; width: 600px;
	h4 { font-weight: 700; font-size: 16px; }
	ul { width: 100%; height: auto;
		li { height: 30px; display: block; 
			.labelname, p { display: table-cell; }
			.labelname { width: 250px; }
		}
	}
}


@include viewACL;

#header-page { width: 100%; height: $hHeader; position: absolute; right: 0; top: 50px; z-index: 1; box-sizing: border-box; box-shadow: 0 1px 2px rgba(0,0,0, .1); background: $bg-header-pg; @include border-bottom;  color: $color-hader-pg;
    #box-header-page { width: 100%; margin: auto; height: $hHeader;
        >div { height: $hHeader; position: relative; }
    }
    #header-page-text { float: left; width: auto; padding: 0 15px; box-sizing: padding-box; white-space: nowrap; height: $hHeader; line-height: $hHeader; }
    .titleTab { float: left; height: $hHeader; line-height: $hHeader; padding-left: 30px; display: block; }
    #header-page-menu { float: right; cursor: pointer;
        #list-bottom-page { cursor: pointer;
	        > span { height: $hHeader; display: inline-block; line-height: $hHeader + 2px; margin: 0 8px; cursor: pointer !important;
	            &:before { padding-right: 6px; }
	            span { display: inline-block; padding-right: 4px; }
	            p { font-family: $font-body !important; display: inline-block; }
	        }
	    }
    }
    * [class*="icon-"]:before, * [class*="icons-"]:after { text-shadow: 1px 1px 2px #999; cursor: pointer; }
}


#body-content { width: 100%; height: 100%; position: absolute; top: 0;
    /*#tab-view { width: calc(100% - #{$w-menu + $w-sidebar}); top: $h-header + $hHeader; right: 0; z-index: 100; height: $h-tab-view; background: $bg-header-pg; position: fixed; @include border-bottom; }*/
    #tab-view { width: 100%; top: 0; right: 0; z-index: 100; height: $h-tab-view; background: $bg-header-pg; position: absolute; @include border-bottom; }
	.tab-view span { position: relative; height: $h-tab-view; line-height: $h-tab-view; padding: 0 10px; cursor: pointer; display: inline-block; }
    #body { width: 100%; height: calc(100% - #{$h-tab-view}); top: $h-tab-view; position: absolute; overflow: auto;
        #main-page { width: $w-main-page; height: auto; margin: 6px 0 20px 6px; padding: 1px 10px; background: $bg-box; box-shadow: 0 0 2px $border; }
        #body-main { margin-bottom: 20px; }
        #body-ACL { display: none; @extend #body-main; }
    }
}


@include combobox;
@include layoutDelete;



.loading { width: 100%; height: 100%; display:block; position: absolute; z-index: 1000; background: #fff; }
.loading img { position: absolute; left: 50%; top: 50%; margin: -12px; } 

