﻿@model List<Framework.Models.AuditModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="sidebar-content">
    <table>
        <tr>
            <td>
                Id
            </td>
            <td>
                Module
            </td>
            <td>
                Name
            </td>
            <td></td>
        </tr>
        @if (Model.Count != 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Module</td>
                    <td>@item.Slogan</td>
                    <td>@Html.ActionLink("Details", "GetByID", new { destId = item.Id, module = item.Module }, new { })</td>
                </tr>
            }
        }
    </table>
</div>