﻿@model List<los_controller.Models.ProductAudLite>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Layout Duyệt Product</title>
    <link href="@Url.Content("~/Content/loading.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" />
    <style type="text/css">
        body {
            width: 100%;
            height: 100%;
            font-family: arial;
        }

        .content {
            width: 800px;
            height: auto;
            display: block;
            margin: auto;
            color: #333;
        }

        .duyetProduct {
            width: 100%;
            height: auto;
            display: block;
        }

        .timkiemProduct {
            width: 100%;
            height: auto;
            display: block;
        }

        .listProduct {
            width: 100%;
            height: auto;
            display: block;
        }

            .listProduct ul {
                width: 100%;
                height: auto;
                border-left: 1px solid #c3c3c3;
                border-right: 1px solid #c3c3c3;
                border-bottom: 1px solid #c3c3c3;
            }

            .listProduct li {
                width: 100%;
                height: 32px;
                padding: 1px 0;
                display: block; /*border-top: 1px solid #c3c3c3;*/
            }

                .listProduct li.Active {
                    background: #3D9BDA;
                    color: #fff;
                }

                    .listProduct li.Active a {
                        color: #fff;
                    }

            .listProduct span {
                font-size: 13px;
                float: left;
                height: 30px;
                line-height: 30px;
                padding: 0 6px 0 4px;
            }

        li.titleTruong {
            height: 26px;
            padding: 1px 0;
            box-sizing: padding-box;
            color: #333;
            border-top: 1px solid #c3c3c3;
            border-bottom: 1px solid #c3c3c3; /* background: linear-gradient(#E5E5E5, #C0C0C0);*/ /*color: #647078;*/
        }

        .titleTruong span {
            font-weight: bold;
            font-size: 14px;
            float: left;
            height: 24px;
            line-height: 24px; /*text-align: center;*/
            border-right: 1px solid #c9c9c9;
        }

            .titleTruong span:last-child {
                border-right: none;
            }

        span.truong0 {
            width: 20px;
        }

        span.truong1 {
            width: 140px;
        }

        span.truong2 {
            width: 100px;
        }

        span.truong3 {
            width: 160px;
        }

        span.truong4 {
            width: 120px;
        }

        span.truong5 {
            width: 100px;
        }

        span.truong6 {
            width: 158px;
        }

        .listProduct span p {
            white-space: nowrap;
            overflow: hidden;
        }

        .listProduct a {
            padding: 0 5px 0 4px;
            font-size: 12px;
            text-decoration: underline;
        }

            .listProduct a.viewProduct, .listProduct a.approve {
                color: #8FBC8F;
            }

            .listProduct a.reject {
                color: #DE3546;
            }



        #viewProductCBox {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            background: rgba(0,0,0, 0.6);
            color: #444;
        }

            #viewProductCBox > div {
                width: 800px;
                height: 100%;
                display: block;
                margin: auto;
                background: #fff;
                padding: 30px;
                overflow: auto;
            }

            #viewProductCBox h3 {
                font-size: 19px;
                color: #444444;
                height: 36px;
                border-bottom: 1px solid #c4c4c4;
            }

            #viewProductCBox .labelname {
                width: 140px;
                display: table-cell;
                font-size: 16px;
                color: #777;
            }

            #viewProductCBox p {
                display: table-cell;
                color: #777;
                white-space: inherit;
                padding-left: 10px;
                vertical-align: middle;
            }

            #viewProductCBox ul {
                margin-bottom: 30px;
            }

        .viewACL {
            width: 100%;
            height: auto; /*margin-bottom: 60px;*/
        }

            .viewACL h4 {
                font-size: 14px;
                width: 100%;
                height: 30px;
                display: block;
                margin-top: 20px;
            }

            .viewACL .listUser, .listGroup {
                width: 100%;
                height: auto;
                display: block;
            }

                .viewACL .listUser li, .viewACL .listGroup li {
                    width: 100%;
                    height: 36px;
                    padding: 0;
                    display: block;
                    border-bottom: 1px solid #c4c4c4;
                }

                    .viewACL .listUser li:first-child, .viewACL .listGroup li:first-child {
                        border-top: 1px solid #c4c4c4;
                    }

                    .viewACL .listUser li > div, .listGroup li > div {
                        display: table-cell;
                    }

                .viewACL .listUser .nameUser {
                    width: 500px;
                    padding-left: 7px;
                    line-height: 36px;
                }

                    .viewACL .listUser .nameUser a {
                        color: #666;
                    }

                        .viewACL .listUser .nameUser a::before {
                            margin-right: 6px;
                        }

                .viewACL .listUser .quyenUser, .listGroup .quyenGroup {
                    width: 286px;
                }

            .viewACL .quyenUser span, .quyenGroup span {
                box-sizing: padding-box;
                transition: all .6s;
                cursor: auto;
                padding: 0 5px;
                margin-right: 4px;
                border-radius: 3px;
                border: 1px solid #c4c4c4;
                display: inline-table;
                font-size: 13px;
            }

            .viewACL .nameGroup {
                width: 500px;
                padding-left: 7px;
                line-height: 36px;
            }

            .viewACL span.applyQuyen {
                background: #606060;
                color: #fff;
                border: 1px solid #606060;
            }


        .listBottomDuyet {
            width: 100%;
            height: 60px;
            display: block;
            text-align: center;
        }

            .listBottomDuyet span {
                width: 100px;
                height: 30px;
                display: inline-block; /*background: #666;*/
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                line-height: 30px;
                border-radius: 4px;
            }

                .listBottomDuyet span.bottomAppreve {
                    background: #8FBC8F;
                }

                .listBottomDuyet span.bottomReject {
                    background: #DE3546;
                }
    </style>
</head>
<body>

    <div class="content">
        <div class="duyetProduct">
            <div class="timkiemProduct">
                Chuc nang tim kiem...!
            </div>
            <div class="listProduct">
                <ul>
                    <li class="titleTruong">
                        <span class="truong0"></span><span class="truong1 truongName">Product Name</span><span class="truong2 truongeditor">Editor</span><span class="truong3 truongStatus">Status</span><span class="truong5 truongDate">Date</span><span class="truong6 truongActive">Active</span>
                    </li>
                    @for(int i=0 ; i < Model.Count ; i++)
                    {
                        <li data-productId="@Model[i].productAudId">
                            <span class="truong0"></span><span class="truong1 truongName"><p title="@Model[i].productName">@Model[i].productName</p></span><span class="truong2 truongeditor"><p>@Model[i].userId</p></span><span class="truong3 truongStatus"><p title="@Model[i].approvalStatus">@Model[i].approvalStatus</p></span><span class="truong5 truongDate">@Model[i].AuditDateFormat.ToShortDateString()</span><span class="truong6 truongActive"><a href="#" class="viewProduct">View</a><a href="#" class="approve">Approve</a><a href="#" class="reject">Reject</a></span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">

        $(document).ready(function () {
            $('.truongActive a').click(function (e) {
                var $Product = $(this);
                var idProduct = $(this).parent().parent().attr('data-productid');

                // a.viewProduct
                if ($Product.hasClass('viewProduct')) {
                    // get send idProduct
                    $.get('getProductAudDetail/?productAudID=' + idProduct, function (data) {
                        $('<div id="viewProductCBox"></div>').addClass('ac-custom ac-checkbox ac-checkmark').append(
                            $('<div></div>').html(data).click(function (e) {

                                if (e.target.classList.contains('bottomAppreve')) {
                                    $.ajax({
                                        url: '/Product/Approve',
                                        data: { productAudID: idProduct },
                                        type: 'POST',
                                        success: function (result) {
                                            alert("Success");
                                            $Product.parent().parent().remove();
                                            $('#viewProductCBox').remove();
                                           
                                        },
                                        error: function () {
                                            aler("Error");
                                        }
                                    });

                                    // xoa Product sau khi approve
                                    
                                } else if (e.target.classList.contains('bottomReject')) {
                                    $.ajax({
                                        url: '/Product/Reject',
                                        data: { productAudID: idProduct },
                                        type: 'POST',
   
                                        success: function (result) {
                                            alert("Success");
                                                $Product.parent().parent().remove();
                                                $('#viewProductCBox').remove();
                                         
                                        },
                                        error: function (result) {
                                            aler("Error");
                                        }
                                    });

                                    // xoa Product sau khi Reject
                                   
                                }
                                return false;
                            })
                        ).appendTo($('body')).click(function (e) {
                            $(this).remove();
                        });
                        svgcheck();
                    }, 'html');
                } else if ($Product.hasClass('approve')) {
                    $.ajax({
                        url: '/Product/Approve',
                        data: { productAudID: idProduct },
                        type: 'POST',
                        success: function (result) {
                                alert("Success");
                                $Product.parent().parent().fadeOut('slow', function () {
                                    $(this).remove();
                                });
                         
                        },
                        error: function () {
                            aler("Error");
                        }
                    });

                    // xoa Product sau khi approve
                   
                } else if ($Product.hasClass('reject')) {
                    $.ajax({
                        url: '/Product/Reject',
                        data: { productAudID: idProduct },
                        type: 'POST',
                        success: function (result) {
                                alert("Success");
                                $Product.parent().parent().fadeOut('slow', function () {
                                    $(this).remove();
                                });
                           
                        },
                        error: function () {
                            aler("Error");
                        }
                    });
                   
                }
                return false;
            });

            $('.listProduct li:not(.titleTruong)').click(function (e) {
                $('.Active').removeClass('Active');
                $(this).addClass('Active');
            });
        });



    </script>
</body>
</html>
