﻿@model los_controller.Models.Product

<div>
    <h3>Main Properties</h3>
    <ul>
        <li>
            <span class="labelname">Product ID</span>
            <p>@Model.ProductId</p>
        </li>
        <li>
            <span class="labelname">Name</span>
            <p>@Model.ProductName</p>
        </li>
        <li>
            <span class="labelname">Slogan</span>
            <p>@Model.ProductSlogan</p>
        </li>
        <li>
            <span class="labelname">Parent</span>
            <p>@Model.ParentId</p>
        </li>
        <li>
            <span class="labelname">Owner</span>
            <p>@Model.ProductOwner</p>
        </li>
        <li>
            <span class="labelname">Link CBS:</span>
            <p>@Model.LinkCbs</p>
        </li>
        <li>
            <span class="labelname">Allow Sub:</span>
            <p>@Html.CheckBoxFor(e => e.AllowSubBoolean, new { @disabled = "disabled" })<label for="AllowSubBoolean">Allow</label></p>
        </li>
        <li>
            <span class="labelname">Allow Contract:</span>
            <p>@Html.CheckBoxFor(e => e.AllowContBoolean, new { @disabled = "disabled" })<label for="sub">Allow</label></p>
        </li>
        <li>
            <span class="labelname">Inherit Condition:</span>
            <p><input type="checkbox" id="condition" checked="@Model.InheritConditionBoolean" disabled /><label for="condition">Inherit</label></p>
        </li>
        <li>
            <span class="labelname">Inherit Document:</span>
            <p><input type="checkbox" id="Document" checked="@Model.InheritDocumentBoolean" disabled /><label for="Document">Inherit</label></p>
        </li>
        @Html.HiddenFor(e => e.ProductAudId, new { id="productAudID" })
    </ul>
</div>
<div>
    <h3>Product Properties
    </h3>
    <ul>
        @if (Model.ProductProps != null && Model != null)
        {
            foreach (var obj in Model.ProductProps)
        {
         <li>
             <span>@obj.UdfId</span>
             <p>@obj.UdfValue</p>
        </li>
        }
        }
    </ul>
</div>
<div class="viewACL">
    <h3>ACL</h3>
    @if (Model.ProductRights != null && Model.ProductRights.Count > 0)
    {
        @Html.Partial("_ViewACL", Model.ProductRights)
    }
    else
    {
        @Html.Partial("_ViewACL", null, new ViewDataDictionary())
    }
</div>



<!-- Approve / Reject -->
<div class="listBottomDuyet">
    <span class="bottomAppreve" id="ApproveProduct">Approve</span>
    <span class="bottomReject">Reject</span>
</div>

