﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content">
    <div id="content-product">
        <div id="header-product" class="bg-pg-header border-bottom-1-2">
            <div id="box-header-product">
                <div id="header-product-text" class="h2-1"><h2>Product Management</h2></div>
                <div id="header-product-menu">
                 
                </div>
            </div>
        </div>
        <div id="body-product" class="bg-pg ac-custom ac-checkbox ac-checkmark">
             @Html.Action("GridViewPartial")
        </div>
    </div>
</div>
