﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div id="sidebar-product">
        <div id="tree" class="border-right-1">
            <div id="treeHeader" class="h2-bold-1 border-bottom-1-2 bg-header-box">
                <div id="seach-product" class="seach border-1">
                    <input class="input-seach" id="input-seach-product" type="search" name="seachProduct" placeholder="Seach Product...">
                    <div class="after-seach">
                        <label for="input-seach-product" class="icon-magnifier label-seach color-2"></label>
                    </div>
                </div>
            </div>
            <div id="treeBody" class="bg-menu-tree">
                <ul id="treecontent"></ul>
            </div>
        </div>
    </div>
    <div id="content-product">
        <div id="header-product" class="bg-pg-header border-bottom-1-2">
            <div id="box-header-product">
                <div id="header-product-text" class="h2-1"><h2>Product Management</h2></div>
                <div id="header-product-menu">
                 
                </div>
            </div>
        </div>
        <div id="body-product" class="bg-pg ac-custom ac-checkbox ac-checkmark">
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/tree")
@Scripts.Render("~/bundles/product")