﻿@model los_controller.Models.ProductViewModel
<div id="header-product" class="bg-pg-header border-bottom-1-2">
    <div id="box-header-product">
        <div id="header-product-text" class="h2-1"><h2>Product Management</h2></div>
        <div id="header-product-menu">
            <div id="list-bottom-product">
                @Html.Partial("_ButtonBar", ViewData["ButtonBar"])
            </div>
        </div>
    </div>
</div>

<div id="body-product" class="bg-pg ac-custom ac-checkbox ac-checkmark">
    <div id="tab-view" class="tab-view border-bottom-1-2 bg-pg-header">
        <span id="tab-main-UDF" class="active">Properties</span>
        <span id="tab-ACL">Access Control Definition</span>
    </div>
    <div id="main-product">
        <div id="body-main-product" class="view-main">
            <h3 class="border-bottom-1-2">Main Properties</h3>
            <ul>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.ProductId)</span>
                    <p>@Model.ProductId</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.ProductName)</span>
                    <p>@Model.ProductName</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.ProductSlogan)</span>
                    <p>@Model.ProductSlogan</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.ParentId)</span>
                    <p>@Model.ParentId</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.ProductOwner)</span>
                    <p>@Model.ProductOwner</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.LinkCbs)</span>
                    <p>@Model.LinkCbs</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.AllowSubBoolean)</span>
                    <p>@Html.CheckBoxFor(x => x.AllowSubBoolean, new { @disabled = "disabled" })<label for="AllowSubBoolean"></label></p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.AllowContBoolean)</span>
                    <p>@Html.CheckBoxFor(x => x.AllowContBoolean, new { @disabled = "disabled" })<label for="AllowContBoolean"></label></p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.InheritConditionBoolean)</span>
                    <p>@Html.CheckBoxFor(x => x.InheritConditionBoolean, new { @disabled = "disabled" })<label for="InheritConditionBoolean"></label></p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.InheritDocumentBoolean)</span>
                    <p>@Html.CheckBoxFor(x => x.InheritDocumentBoolean, new { @disabled = "disabled" })<label for="InheritDocumentBoolean"></label></p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.EffectiveDate)</span>
                    <p>@Html.DisplayFor(x => x.EffectiveDate)</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.ExpiryDate)</span>
                    <p>@Html.DisplayFor(x => x.ExpiryDate)</p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.InheritMenuAclBoolean)</span>
                    <p>@Html.CheckBoxFor(x => x.InheritMenuAclBoolean, new { @disabled = "disabled" })<label for="InheritMenuAclBoolean"></label></p>
                </li>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(x => x.InheritParentAclBoolean)</span>
                    <p>@Html.CheckBoxFor(x => x.InheritParentAclBoolean, new { @disabled = "disabled" })<label for="InheritParentAclBoolean"></label></p>
                </li>
            </ul>
            <h3 class="border-bottom-1-2">User defined properties</h3>
            <ul>
                @if (Model.ProductProps != null)
                {
                    foreach (var pop in Model.ProductProps)
                    {
                        <li>
                            <span class="labelname">@pop.FieldName</span>
                            <p>@pop.UdfValue</p>
                        </li>
                    }
                }
            </ul>
        </div>
        <div id="body-ACL-product">
            <div class="viewACL">
                @Html.Partial("_ViewACL", @Model.ProductRights)
            </div>
        </div>
    </div>
</div>
