﻿@model los_controller.Models.ProductViewModel


<div id="combobox">
    <div id="body-combobox">
        <div id="header-combobox" class="border-bottom-1-2 bg-pg-header">
            <div id="tab-view-new-edit" class="tab-view">
                <span id="tab-main-UDF" class="actived">Main properties</span>
                <span id="tab-ACL">Access Control Definition</span>
            </div>
            <div id="list-bottom-combobox">
                <div id="save-product" class="color-title border-left-1-1">Save</div>
                <div id="exit-combobox" class="color-title border-left-1-1">Cancel</div>
            </div>
        </div>
        <div id="content-combobox">
            <div class="layout-new-edit ac-custom ac-checkbox ac-checkmark">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "save-product-form" }))
                {
                    <div class="change-Main-Udf">
                        <h3 class="border-bottom-1-2">Main Properties</h3>
                        <ul>
                            @if (Model.SysTranId != null)
                            {
                                <li>
                                    <span>@Html.DisplayNameFor(e => e.SysTranId)</span>
                                    <p>
                                        @Html.DisplayTextFor(e => e.SysTranId)
                                    </p>
                                </li>
                            }
                            <li>
                                <span>@Html.DisplayNameFor(e => e.ProductId)</span>
                                <p>
                                    @if (@Model.AuditOperation == "I")
                                    {
                                        @Html.EditorFor(e => e.ProductId)
                                    }
                                    else
                                    {
                                        @Html.DisplayTextFor(model => model.ProductId)
                                        @Html.HiddenFor(model => model.ProductId)
                                    }
                                    @Html.ValidationMessageFor(e => e.ProductId)
                                </p>

                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.ProductName)</span>
                                <p>
                                    @Html.EditorFor(e => e.ProductName)
                                    @Html.ValidationMessageFor(e => e.ProductName)
                                </p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.ProductSlogan)</span>
                                <p>
                                    @Html.EditorFor(e => e.ProductSlogan)
                                    @Html.ValidationMessageFor(e => e.ProductSlogan)
                                </p>

                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.LinkCbs)</span>
                                <p>
                                    @Html.EditorFor(e => e.LinkCbs)
                                    @Html.ValidationMessageFor(e => e.LinkCbs)
                                </p>

                            </li>
                            <li class="list-select">
                                <span>@Html.DisplayNameFor(e => e.ParentId)</span>
                                <p>
                                    @Html.DropDownList("ParentId")
                                    @*"Using ViewBag.ParentId"*@
                                </p>
                            </li>
                            <li class="list-select">
                                <span>@Html.DisplayNameFor(e => e.ProductOwner)</span>
                                <p>
                                    <select name="product-owner">
                                        <option value="1">owner 1</option>
                                        <option value="2">owner 2</option>
                                        <option value="3">owner 3</option>
                                        <option value="4">owner 4</option>
                                        <option value="5" selected>owner 5</option>
                                    </select>
                                </p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.AllowSubBoolean)</span>
                                <p>@Html.CheckBoxFor(e => e.AllowSubBoolean)<label for="AllowSubBoolean"></label></p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.AllowContBoolean)</span>
                                <p>@Html.CheckBoxFor(e => e.AllowContBoolean)<label for="AllowContBoolean"></label></p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.InheritConditionBoolean)</span>
                                <p>@Html.CheckBoxFor(e => e.InheritConditionBoolean)<label for="InheritConditionBoolean"></label></p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.InheritDocumentBoolean)</span>
                                <p>@Html.CheckBoxFor(e => e.InheritDocumentBoolean)<label for="InheritDocumentBoolean"></label></p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.EffectiveDate)</span>
                                <p>
                                    @Html.EditorFor(e => e.EffectiveDate)
                                    @Html.ValidationMessageFor(e => e.EffectiveDate)
                                </p>

                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.ExpiryDate)</span>
                                <p>
                                    @Html.EditorFor(e => e.ExpiryDate)
                                    @Html.ValidationMessageFor(e => e.ExpiryDate)
                                </p>

                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.InheritMenuAclBoolean)</span>
                                <p>@Html.CheckBoxFor(e => e.InheritMenuAclBoolean)<label for="InheritMenuAclBoolean"></label></p>
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(e => e.InheritParentAclBoolean)</span>
                                <p>@Html.CheckBoxFor(e => e.InheritParentAclBoolean)<label for="InheritParentAclBoolean"></label></p>
                            </li>
                        </ul>
                    </div>
                    <div class="change-Main-Udf">
                        <h3 class="border-bottom-1-2">User defined properties</h3>
                        <ul>
                            @Html.Partial("_EditUdf", Model.ProductProps, new ViewDataDictionary
                       {
                           TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "ProductProps" }
                       })
                        </ul>
                    </div>
                    @Html.HiddenFor(e => e.AuditOperation)
                    @Html.HiddenFor(e => e.TranAction)
                    @Html.HiddenFor(e => e.ProductAudId)
                    @Html.HiddenFor(e => e.Pid)
                    @Html.HiddenFor(e => e.UpdSeq)
                }
                @if (Model.ProductRights != null && Model.ProductRights.Count > 0)
                {
                     @Html.Action("RenderSysRight", new { models = Model.ProductRights })
                }
                else
                {
                    @Html.Action("RenderSysRight",Model.ProductRights)
                }
            </div><!-- end. .layout-new-edit-product -->
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse($('#save-product-form'));
    });

    (function () {
        $('#save-product').click(function (e) {
            e.preventDefault();
            console.log($('#save-product-form').serialize());
            if ($('#save-product-form').valid()) {
                $.ajax({
                    url: '/Product/SaveProduct',
                    data: $('#save-product-form').serialize() + "&Sysright=" + $("#SysrightHidden").val(),
                    type: 'POST',
                    success: function (result) {
                        alert("Save Successfully");
                        $('.titleTab').remove();
                        $('#combobox').fadeOut(300).remove();
                        $('#body-product > div').show();
                        $('.quyenUser span').unbind('click');
                        $('.quyenGroup span').unbind('click');
                    },
                    error: function () {

                    }
                });
            } else {
                console.log('validate failed');
            }
        });
    })();
</script>
