﻿@model Framework.Models.Customer

@{
    ViewBag.Title = "CustomerDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sidebar-content">
    <h4>Customer</h4>
    <hr />
    <ul>
        <li><span class="labelname">@Html.DisplayNameFor(model => model.Id)</span><p>@Html.DisplayFor(model => model.Id)</p></li>
        <li><span class="labelname">@Html.DisplayNameFor(model => model.Name)</span><p>@Html.DisplayFor(model => model.Name)</p></li>
    </ul>
</div>
