﻿@model Framework.Models.Customer

@{

}


<div id="sidebar-content">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "save-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Customer</h4>
            <hr />
            @Html.ValidationSummary(true)

            <ul>
                <li>
                    <span class="labelname">@Html.DisplayNameFor(model => model.Id)</span><p>
                        @Html.EditorFor(model => model.Id)
                    @Html.ValidationMessageFor(model => model.Id)
                </p>
            </li>
            <li>
                <span class="labelname">@Html.DisplayNameFor(model => model.Name)</span><p>
                    @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </p>
        </li>

</ul>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
    </div>
</div>
</div>
    }
</div>