﻿@model List<Framework.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div id="sidebar-content">
    <table class="table" cellpadding="20" cellspacing="20">
        <tr>
            <td>
                ID
            </td>
            <td>
                Name
            </td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "GetDetail", new { destId = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
