@import url(../css/import/simple-line-icons.css);
/* Bottom color */
    /* View ACL 
-------------------------------------------------------------------------------------------*/
/*@charset "UTF-8"; */
@import url(../css/import/dd.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

* {
  outline: none;
  box-sizing: border-box; }

p {
  line-height: 1.4em;
  word-spacing: .1em; }

* [class*="icon-"]:before, * [class*="icons-"]:after {
  color: #89a452; }

.active, .actived, *[class*="-bold"] {
  font-weight: 700; }

.active:before, .actived:before {
  content: "";
  border-width: 8px;
  bottom: 0;
  height: 0;
  left: 50%;
  margin-left: -8px;
  overflow: hidden;
  position: absolute;
  width: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent  #9C9C9C transparent;
  border-image: none;
  border-style: outset outset solid; }

.active:after, .actived:after {
  content: "";
  border-width: 8px;
  bottom: -1px;
  height: 0;
  left: 50%;
  margin-left: -8px;
  overflow: hidden;
  position: absolute;
  width: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent #f8f8f8;
  border-image: none;
  border-style: outset outset solid; }

.activeMenu:before {
  content: '';
  content: "";
  border-width: 18px;
  bottom: 0;
  height: 0;
  left: -1px;
  overflow: hidden;
  position: absolute;
  width: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.15);
  border-image: none;
  border-style: outset outset outset solid; }

.activeMenu:after {
  content: '';
  content: "";
  border-width: 18px;
  bottom: 0;
  height: 0;
  left: -2px;
  overflow: hidden;
  position: absolute;
  width: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent transparent #f5f5f5;
  border-image: none;
  border-style: outset outset outset solid; }

* [class*="dropdown-menu"] {
  display: none;
  width: 280px;
  height: 400px;
  position: absolute;
  z-index: 13;
  right: 0px;
  top: 43px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff; }

* [class*="dropdown-menu"]:before {
  content: '';
  width: 0;
  height: 0;
  border-width: 8px;
  right: 28px;
  top: -16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.15) transparent;
  border-image: none;
  border-style: outset outset solid outset;
  position: absolute;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none; }

* [class*="dropdown-menu"]:after {
  content: '';
  width: 0;
  height: 0;
  border-width: 8px;
  right: 28px;
  top: -15px;
  border-color: transparent transparent #fff transparent;
  border-image: none;
  border-style: outset outset solid outset;
  position: absolute;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none; }

.dropdown-menu-1 {
  right: -8px; }

.dropdown-menu-1:before {
  right: 17px; }

.dropdown-menu-1:after {
  right: 17px; }

.dropdown-menu-2 {
  right: -5px; }

.dropdown-menu-2:before {
  left: 90px; }

.dropdown-menu-2:after {
  left: 90px; }

input[type="search"], input[type="search"]:focus {
  border: medium none; }

/*input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }*/
input, textarea, select {
  border: 1px solid rgba(0, 0, 0, 0.22);
  color: #555; }

input:focus, textarea:focus {
  border: 1px solid #999; }

input[type='search'], input[type='search']:focus {
  border: none; }

.error {
  color: red;
  margin-left: 5px;
  font-weight: 700; }

#tree {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.15); }
  #tree #treeHeader {
    height: 35px;
    box-sizing: border-box;
    padding: 4px 0 0 16px;
    background: #F5F5F5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  #tree #treeBody {
    width: 100%;
    height: calc(100% - 35px);
    position: absolute;
    overflow: auto;
    position: relative;
    background: #fff; }
    #tree #treeBody ul {
      height: auto;
      display: none; }
    #tree #treeBody li {
      margin-left: 18px;
      position: relative;
      min-height: 22px;
      height: auto; }
      #tree #treeBody li.listTree:before {
        z-index: 3;
        text-align: center;
        line-height: 14px;
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        top: 4px;
        left: -12px;
        background-image: url(../images/expand.png);
        cursor: pointer; }
      #tree #treeBody li.selectTree:before {
        background-image: url(../images/collapse.png); }
    #tree #treeBody a {
      height: 24px;
      line-height: 24px;
      padding: 0 10px 0 6px;
      font-size: 14px;
      white-space: nowrap;
      color: #999; }
      #tree #treeBody a.active-tree {
        color: #a6cf53;
        z-index: 10; }
        #tree #treeBody a.active-tree:before {
          content: '';
          z-index: 2;
          width: 260px;
          height: 24px;
          background: rgba(0, 0, 0, 0.24);
          left: 200px;
          position: fixed; }
    #tree #treeBody > ul {
      margin-top: 10px;
      display: block; }
      #tree #treeBody > ul > li {
        margin-left: 12px; }

.seach {
  width: 230px;
  overflow: hidden;
  height: 26px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .seach .input-seach {
    border: none;
    height: 24px;
    width: 196px;
    float: left;
    margin-left: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .seach .label-seach {
    height: 19px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 2px;
    padding: 3px 4px 0 4px;
    float: left; }

.icon-trash:before, .icon-magnifier:before {
  color: #999; }

/* View Main*/
.view-main {
  display: block;
  width: 100%;
  height: auto; }
  .view-main h3 {
    margin-top: 20px;
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: 700; }
  .view-main ul {
    width: 100%;
    height: auto;
    display: block; }
  .view-main li {
    width: 100%;
    height: auto;
    display: block;
    padding: 8px 0 !important; }
  .view-main .labelname {
    width: 210px;
    display: table-cell;
    font-size: 16px; }
  .view-main p {
    display: table-cell;
    white-space: inherit;
    padding-left: 10px;
    vertical-align: middle; }

/* combobox (Layout New/Edit) */
#combobox {
  width: 100%;
  height: auto;
  padding-top: 46px; }
  #combobox #header-combobox {
    height: 35px;
    position: fixed;
    width: calc(100% - 460px);
    right: 0;
    z-index: 1;
    top: 86px;
    background: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    #combobox #header-combobox > div {
      height: 35px; }
  #combobox #tab-view-new-edit {
    width: auto;
    float: left;
    line-height: 35px;
    box-sizing: padding-box; }
  #combobox #list-bottom-combobox {
    float: right; }
    #combobox #list-bottom-combobox > div {
      height: 35px;
      padding: 0 15px;
      float: left;
      line-height: 35px;
      text-align: center;
      cursor: pointer;
      border-left: 1px solid rgba(0, 0, 0, 0.15); }
  #combobox #content-combobox {
    width: 100%;
    height: calc(100% - 46px);
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    display: block;
    position: relative; }
    #combobox #content-combobox > div {
      min-height: 100%;
      height: auto;
      display: block; }
  #combobox #body-combobox {
    position: relative; }

/* layout New/Edit */
.layout-new-edit {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px; }

.change-Main-Udf h3 {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
  font-weight: 700; }
.change-Main-Udf ul {
  margin-bottom: 30px; }
.change-Main-Udf li {
  width: 100%;
  height: auto;
  display: block;
  padding: 8px 0 !important; }
  .change-Main-Udf li > span {
    width: 200px;
    font-size: 15px;
    height: 22px;
    display: block;
    display: inline-block; }
.change-Main-Udf p {
  width: 520px;
  white-space: inherit;
  padding: 0 10px;
  vertical-align: middle;
  display: inline-block; }
.change-Main-Udf input, .change-Main-Udf textarea {
  width: 500px;
  height: 30px;
  border-radius: 0;
  transition: all 0.6s;
  padding: 0 6px; }
.change-Main-Udf textarea {
  height: 100px;
  padding-top: 6px;
  resize: none; }
  .change-Main-Udf textarea:focus {
    height: 130px;
    max-height: 130px; }
.change-Main-Udf select {
  width: 250px;
  padding: 2px;
  height: 30px;
  display: inline-block; }
  .change-Main-Udf select option {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0 5px; }

/* layout New/Edit ACL  
-------------------------------------------------------------------------------------------*/
.changeACL {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  display: block; }
  .changeACL h3 {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
    font-weight: 700; }
  .changeACL > h4 {
    width: 100%;
    height: 30px;
    font-weight: normal;
    display: block; }
    .changeACL > h4:nth-child(4) {
      margin-top: 30px; }
  .changeACL .listUser, .changeACL .listGroup {
    width: 100%;
    height: auto;
    display: block; }
  .changeACL .listUser .quyenUser, .changeACL .listGroup .quyenGroup {
    width: 390px;
    text-align: center; }
    .changeACL .listUser .quyenUser span, .changeACL .listGroup .quyenGroup span {
      box-sizing: padding-box;
      transition: all .6s;
      cursor: pointer;
      padding: 2px 5px;
      margin-right: 4px;
      border-radius: 3px;
      display: inline-table;
      font-size: 13px;
      border: 1px solid rgba(0, 0, 0, 0.15); }
      .changeACL .listUser .quyenUser span.applyQuyen, .changeACL .listGroup .quyenGroup span.applyQuyen {
        background: #606060;
        color: #fff;
        border: 1px solid #606060; }
  .changeACL .listUser li, .changeACL .listGroup li {
    width: 100%;
    height: 36px;
    padding: 0;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    .changeACL .listUser li > div, .changeACL .listGroup li > div {
      display: table-cell; }
  .changeACL .nameUser, .changeACL .nameGroup {
    width: 360px;
    padding-left: 7px;
    line-height: 36px; }
  .changeACL [class*="icon-"]:before {
    margin-right: 6px; }
  .changeACL .addUserItem, .changeACL .addGroupItem {
    height: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    .changeACL .addUserItem form, .changeACL .addGroupItem form {
      height: auto;
      padding: 5px; }
  .changeACL p {
    float: left; }
  .changeACL select {
    width: 220px;
    height: 38px;
    display: inline-block; }
  .changeACL .multiple {
    margin-left: 15px; }
  .changeACL select option {
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    width: 100%;
    display: block; }
  .changeACL .addUserItem .addUser, .changeACL .addGroupItem .addGroup {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    margin-left: 20px;
    cursor: pointer;
    padding: 0 5px;
    border: 1px solid rgba(0, 0, 0, 0.15); }
  .changeACL .removeUser, .changeACL .removeGroup {
    cursor: pointer; }

#header {
  height: 50px;
  width: 100%;
  background: #007EE5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  #header #header-nav {
    width: 100%;
    height: 50px;
    margin: auto;
    position: relative; }
  #header a {
    color: #fff; }

span a {
  font-size: 14px; }

#Accout-Notification {
  position: absolute;
  top: 0;
  right: 10px;
  width: auto;
  height: 50px; }
  #Accout-Notification > div {
    height: 50px;
    line-height: 50px;
    width: 45px;
    float: left;
    position: relative; }
    #Accout-Notification > div [class*="icon-"]:before, #Accout-Notification > div [class*="icons-"]:after {
      color: #fff; }
  #Accout-Notification > #accout {
    width: auto; }
    #Accout-Notification > #accout .icons-settings:after {
      margin-right: 10px;
      padding-left: 10px; }

#menu {
  width: 200px;
  height: calc(100% - 80px);
  position: fixed;
  top: 50px;
  left: 0px;
  z-index: 10;
  background: #f5f5f5;
  border-right: 1px solid rgba(0, 0, 0, 0.15); }
  #menu ul {
    height: 26px;
    display: block; }
  #menu li {
    height: 26px;
    display: block;
    line-height: 26px; }
    #menu li a {
      margin-left: 12px;
      color: #3b73af; }
      #menu li a:hover {
        border-bottom: 2px solid #89a452; }

footer {
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: fixed;
  box-sizing: border-box;
  background: #007EE5;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  bottom: 0;
  left: 0;
  z-index: 10; }

body {
  font-family: Arial;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .6s; }

* [class*="icon-"]:before, * [class*="icons-"]:after {
  cursor: pointer; }

* [class*="icons-"]:after {
  margin-left: 10px; }

body {
  font-family: Arial;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .6s; }

#content {
  width: calc(100% - 200px);
  height: calc(100% - 80px);
  margin: 50px 0 0 200px;
  position: relative; }

#content-DuyetItem {
  width: 100%;
  height: 100%;
  display: block;
  position: relative; }
  #content-DuyetItem .BoxDuyetItem {
    width: 1080px;
    height: 100%;
    display: block;
    padding-left: 5px;
    overflow: hidden; }
  #content-DuyetItem #timkiemItem {
    width: calc(100% - 200px);
    height: auto;
    display: block;
    left: 200px;
    top: 50px;
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); }
    #content-DuyetItem #timkiemItem #headerTimkiem {
      height: 40px;
      display: block;
      background: #f5f5f5;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
      #content-DuyetItem #timkiemItem #headerTimkiem h3 {
        height: 40px;
        line-height: 40px;
        padding-left: 5px;
        width: auto;
        display: inline-block; }
    #content-DuyetItem #timkiemItem #bodyTimkiem {
      height: auto;
      display: block;
      background: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
      #content-DuyetItem #timkiemItem #bodyTimkiem ul {
        width: 100%;
        min-width: 1080px;
        height: auto;
        padding: 5px 10px;
        display: block; }
      #content-DuyetItem #timkiemItem #bodyTimkiem li {
        width: 100%;
        height: 38px;
        line-height: 38px;
        display: block; }
        #content-DuyetItem #timkiemItem #bodyTimkiem li input {
          width: 120px;
          border-radius: 3px;
          height: 25px;
          margin-right: 5px; }
      #content-DuyetItem #timkiemItem #bodyTimkiem .seachItem {
        width: 80px;
        padding: 4px;
        margin-left: 44px;
        border-radius: 3px;
        color: #fff;
        background: #8FBC8F;
        cursor: pointer; }

.listDuyetItem {
  width: 100%;
  height: calc(100% - 136px);
  display: block;
  margin-top: 132px;
  position: relative; }
  .listDuyetItem ul {
    width: 100%;
    height: 100%;
    border-top: none;
    border: 1px solid rgba(0, 0, 0, 0.15); }
  .listDuyetItem li {
    width: 100%;
    height: 32px;
    padding: 1px 0;
    display: block; }
    .listDuyetItem li.Active {
      background: #3D9BDA;
      color: #fff; }
      .listDuyetItem li.Active a {
        color: #fff; }
    .listDuyetItem li.titleTruong {
      height: 28px;
      padding: 0;
      box-sizing: border-box;
      background: linear-gradient(#f9f9f9, #E5E5E5);
      color: #444;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
      .listDuyetItem li.titleTruong span {
        font-weight: bold;
        font-size: 14px;
        float: left;
        height: 28px;
        line-height: 28px;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        position: relative;
        box-sizing: border-box; }
        .listDuyetItem li.titleTruong span:last-child {
          border-right: none; }
  .listDuyetItem div {
    width: 100%;
    height: calc(100% - 28px);
    overflow: auto; }
  .listDuyetItem span {
    font-size: 13px;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 6px 0 4px; }
    .listDuyetItem span.truong0 {
      width: 20px; }
    .listDuyetItem span.truong1 {
      width: 110px; }
    .listDuyetItem span.truong2 {
      width: 110px; }
    .listDuyetItem span.truong3 {
      width: 110px; }
    .listDuyetItem span.truong4 {
      width: 110px; }
    .listDuyetItem span.truong5 {
      width: 110px; }
    .listDuyetItem span.truong6 {
      width: 110px; }
    .listDuyetItem span.truong7 {
      width: 180px; }
    .listDuyetItem span.truong8 {
      width: 110px; }
    .listDuyetItem span.truong9 {
      width: 60px; }
    .listDuyetItem span p {
      white-space: nowrap;
      overflow: hidden;
      height: 30px;
      line-height: 30px; }
  .listDuyetItem a {
    padding: 0 5px 0 4px;
    font-size: 12px;
    text-decoration: underline;
    color: #8FBC8F; }

#viewDuyetItem {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6); }
  #viewDuyetItem #viewDuyetBox {
    width: 800px;
    height: calc(100% - 20px);
    display: block;
    margin: auto;
    margin-top: 20px; }
    #viewDuyetItem #viewDuyetBox #headView {
      height: 40px;
      display: block;
      border-radius: 4px 4px 0 0;
      background: linear-gradient(#f9f9f9, #E9E9E9);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
      #viewDuyetItem #viewDuyetBox #headView h3 {
        height: 40px;
        padding: 0 20px;
        display: inline-block;
        line-height: 40px; }
      #viewDuyetItem #viewDuyetBox #headView #listBottomDuyet {
        float: right;
        color: #555; }
        #viewDuyetItem #viewDuyetBox #headView #listBottomDuyet span {
          padding: 0 7px;
          height: 26px;
          float: left;
          margin: 7px 5px 0 5px;
          line-height: 25px;
          border-radius: 5px;
          cursor: pointer;
          border: 1px solid rgba(0, 0, 0, 0.15); }
          #viewDuyetItem #viewDuyetBox #headView #listBottomDuyet span.icon-close {
            width: 26px;
            height: 26px;
            padding: 0;
            position: relative;
            overflow: hidden;
            line-height: 0; }
            #viewDuyetItem #viewDuyetBox #headView #listBottomDuyet span.icon-close::before {
              font-size: 38px;
              position: absolute;
              margin: 12px 0 0 -7px;
              color: #555; }
          #viewDuyetItem #viewDuyetBox #headView #listBottomDuyet span:not(.icon-close) {
            background: rgba(0, 0, 0, 0.2); }
    #viewDuyetItem #viewDuyetBox #bodyDuyetItem {
      width: 100%;
      height: calc(100% - 40px);
      display: block;
      background: #fff; }
      #viewDuyetItem #viewDuyetBox #bodyDuyetItem #tab-view-duyetItem {
        height: 30px;
        width: 800px;
        display: block;
        position: relative;
        background: #f5f5f5;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
        #viewDuyetItem #viewDuyetBox #bodyDuyetItem #tab-view-duyetItem span {
          position: relative;
          height: 30px;
          line-height: 30px;
          padding: 0 10px;
          cursor: pointer;
          display: inline-block; }
      #viewDuyetItem #viewDuyetBox #bodyDuyetItem #boxViewDuyetItem {
        display: block;
        position: relative;
        height: calc(100% - 30px);
        padding: 15px;
        overflow: auto; }
        #viewDuyetItem #viewDuyetBox #bodyDuyetItem #boxViewDuyetItem ul {
          margin-bottom: 30px; }
        #viewDuyetItem #viewDuyetBox #bodyDuyetItem #boxViewDuyetItem h3 {
          font-size: 19px;
          color: #555;
          height: 36px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
        #viewDuyetItem #viewDuyetBox #bodyDuyetItem #boxViewDuyetItem .labelname {
          width: 210px;
          display: table-cell;
          font-size: 16px;
          color: #555; }
        #viewDuyetItem #viewDuyetBox #bodyDuyetItem #boxViewDuyetItem p {
          display: table-cell;
          white-space: inherit;
          padding-left: 10px;
          vertical-align: middle; }

#acl-duyetItem {
  display: none; }

.viewACL {
  width: 100%;
  height: auto; }
  .viewACL a {
    color: #777; }
  .viewACL h3 {
    margin-top: 20px;
    height: 30px; }
  .viewACL h4 {
    width: 100%;
    height: 30px;
    display: block;
    margin-top: 30px; }
  .viewACL .listUser, .viewACL .listGroup {
    width: 100%;
    height: auto;
    display: block; }
    .viewACL .listUser li, .viewACL .listGroup li {
      width: 100%;
      height: 36px;
      padding: 0;
      display: block; }
      .viewACL .listUser li > div, .viewACL .listGroup li > div {
        display: table-cell; }
  .viewACL .nameUser {
    width: 360px;
    padding-left: 7px;
    line-height: 36px;
    box-sizing: padding-box; }
  .viewACL .nameGroup {
    width: 360px;
    padding-left: 7px;
    line-height: 36px; }
  .viewACL [class*="icon-"]::before {
    margin-right: 6px; }
  .viewACL .listUser .quyenUser, .viewACL .listGroup .quyenGroup {
    width: 410px;
    text-align: center; }
    .viewACL .listUser .quyenUser span, .viewACL .listGroup .quyenGroup span {
      box-sizing: padding-box;
      transition: all .6s;
      cursor: auto;
      padding: 2px 5px;
      margin-right: 4px;
      border-radius: 3px;
      display: inline-table;
      font-size: 13px; }

.loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -12px; }

footer {
  width: 100%;
  height: 30px;
  position: fixed;
  background: #007EE5;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 30px;
  bottom: 0;
  left: 0; }

/*# sourceMappingURL=duyetItem.css.map */
