﻿/* Bottom color */
    /* View ACL 
-------------------------------------------------------------------------------------------*/
/* combobox (Layout New/Edit) */
/* layout Delele */
/*@charset "UTF-8"; */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

* {
  outline: none;
  box-sizing: border-box; }

p {
  line-height: 1.4em;
  word-spacing: .1em; }

* [class*="icon-"]:before, * [class*="icons-"]:after {
  color: #89a452; }

.active, .actived, *[class*="-bold"] {
  font-weight: 700; }

.active:before, .actived:before {
  content: "";
  border-width: 8px;
  bottom: 0;
  height: 0;
  left: 50%;
  margin-left: -8px;
  overflow: hidden;
  position: absolute;
  width: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent  #9C9C9C transparent;
  border-image: none;
  border-style: outset outset solid; }

.active:after, .actived:after {
  content: "";
  border-width: 8px;
  bottom: -1px;
  height: 0;
  left: 50%;
  margin-left: -8px;
  overflow: hidden;
  position: absolute;
  width: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent #f8f8f8;
  border-image: none;
  border-style: outset outset solid; }

.activeMenu:before {
  content: '';
  content: "";
  border-width: 18px;
  bottom: 0;
  height: 0;
  left: -1px;
  overflow: hidden;
  position: absolute;
  width: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.15);
  border-image: none;
  border-style: outset outset outset solid; }

.activeMenu:after {
  content: '';
  content: "";
  border-width: 18px;
  bottom: 0;
  height: 0;
  left: -2px;
  overflow: hidden;
  position: absolute;
  width: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent transparent #f5f5f5;
  border-image: none;
  border-style: outset outset outset solid; }

* [class*="dropdown-menu"] {
  display: none;
  width: 280px;
  height: 400px;
  position: absolute;
  z-index: 13;
  right: 0px;
  top: 43px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff; }

* [class*="dropdown-menu"]:before {
  content: '';
  width: 0;
  height: 0;
  border-width: 8px;
  right: 28px;
  top: -16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.15) transparent;
  border-image: none;
  border-style: outset outset solid outset;
  position: absolute;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none; }

* [class*="dropdown-menu"]:after {
  content: '';
  width: 0;
  height: 0;
  border-width: 8px;
  right: 28px;
  top: -15px;
  border-color: transparent transparent #fff transparent;
  border-image: none;
  border-style: outset outset solid outset;
  position: absolute;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none; }

.dropdown-menu-1 {
  right: -8px; }

.dropdown-menu-1:before {
  right: 17px; }

.dropdown-menu-1:after {
  right: 17px; }

.dropdown-menu-2 {
  right: -5px; }

.dropdown-menu-2:before {
  left: 90px; }

.dropdown-menu-2:after {
  left: 90px; }

input[type="search"], input[type="search"]:focus {
  border: medium none; }

/*input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }*/
#header {
  height: 50px;
  width: 100%;
  background: #007EE5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  #header #header-nav {
    width: 100%;
    height: 50px;
    margin: auto;
    position: relative; }
  #header a {
    color: #fff; }

span a {
  font-size: 14px; }

#Accout-Notification {
  position: absolute;
  top: 0;
  right: 10px;
  width: auto;
  height: 50px; }
  #Accout-Notification > div {
    height: 50px;
    line-height: 50px;
    width: 45px;
    float: left;
    position: relative; }
    #Accout-Notification > div [class*="icon-"]:before, #Accout-Notification > div [class*="icons-"]:after {
      color: #fff; }
  #Accout-Notification > #accout {
    width: auto; }
    #Accout-Notification > #accout .icons-settings:after {
      margin-right: 10px;
      padding-left: 10px; }

#menu {
  width: 200px;
  height: calc( 100% - 80px);
  position: fixed;
  top: 50px;
  left: 0px;
  z-index: 10;
  background: #f5f5f5;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  transition: all .6s; }
  #menu nav {
    width: 100%;
    height: calc(100% - 40px); }
    #menu nav ul {
      height: 26px;
      display: block; }
    #menu nav li {
      height: 26px;
      display: block;
      line-height: 26px; }
      #menu nav li a {
        margin-left: 12px;
        color: #3b73af; }
        #menu nav li a:hover {
          border-bottom: 2px solid #89a452; }
  #menu #hideMenu {
    height: 40px;
    width: 100%;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    cursor: pointer; }
    #menu #hideMenu:hover {
      background: #c9c9c9; }
      #menu #hideMenu:hover span:after {
        border: 10px solid #c9c9c9; }
    #menu #hideMenu span {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 0;
      transition: all .6s;
      border-radius: 20px; }
      #menu #hideMenu span:before {
        width: 40px;
        height: 40px;
        font-size: 30px;
        position: absolute;
        left: 0;
        top: 0;
        color: #555;
        margin: 5px; }
      #menu #hideMenu span:after {
        content: '';
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 10px solid #f5f5f5;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0; }
    #menu #hideMenu.hideMenu span {
      -ms-transform: rotate(180deg);
      /* IE 9 */
      -webkit-transform: rotate(180deg);
      /* Chrome, Safari, Opera */
      transform: rotate(180deg); }

footer {
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: fixed;
  box-sizing: border-box;
  background: #007EE5;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  bottom: 0;
  left: 0;
  z-index: 10; }

input, textarea, select {
  border: 1px solid rgba(0, 0, 0, 0.22);
  color: #555; }

input:focus, textarea:focus {
  border: 1px solid #999; }

input[type='search'], input[type='search']:focus {
  border: none; }

.error {
  color: red;
  margin-left: 5px;
  font-weight: 700; }

#tree {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.15); }
  #tree #treeHeader {
    height: 35px;
    box-sizing: border-box;
    padding: 4px 0 0 16px;
    background: #F5F5F5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  #tree #treeBody {
    width: 100%;
    height: calc(100% - 35px);
    position: absolute;
    overflow: auto;
    position: relative;
    background: #fff; }
    #tree #treeBody ul {
      height: auto;
      display: none; }
    #tree #treeBody li {
      margin-left: 18px;
      position: relative;
      min-height: 22px;
      height: auto; }
      #tree #treeBody li.listTree:before {
        z-index: 3;
        text-align: center;
        line-height: 14px;
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        top: 4px;
        left: -12px;
        background-image: url(../images/expand.png);
        cursor: pointer; }
      #tree #treeBody li.selectTree:before {
        background-image: url(../images/collapse.png); }
    #tree #treeBody a {
      height: 24px;
      line-height: 24px;
      padding: 0 10px 0 6px;
      font-size: 14px;
      white-space: nowrap;
      color: #999;
      /*        	&.active-hide-menu { 
              		&:before { left: 40px; transition: all .48s; }
              	}*/ }
      #tree #treeBody a.active-tree {
        color: #a6cf53;
        z-index: 10; }
        #tree #treeBody a.active-tree:before {
          content: '';
          z-index: 2;
          width: 260px;
          height: 24px;
          background: rgba(0, 0, 0, 0.24);
          left: 200px;
          position: fixed;
          transition: all .6s; }
    #tree #treeBody.hide-menu a.active-tree:before {
      left: 50px; }
    #tree #treeBody > ul {
      margin-top: 10px;
      display: block; }
      #tree #treeBody > ul > li {
        margin-left: 12px; }

.seach {
  width: 230px;
  overflow: hidden;
  height: 26px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .seach .input-seach {
    border: none;
    height: 24px;
    width: 196px;
    float: left;
    margin-left: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .seach .label-seach {
    height: 19px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 2px;
    padding: 3px 4px 0 4px;
    float: left; }

.icon-trash:before, .icon-magnifier:before {
  color: #999; }

/* View Main*/
.view-main {
  display: block;
  width: 100%;
  height: auto; }
  .view-main h3 {
    margin-top: 20px;
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: 700; }
  .view-main ul {
    width: 100%;
    height: auto;
    display: block; }
  .view-main li {
    width: 100%;
    height: auto;
    display: block;
    padding: 8px 0 !important; }
  .view-main .labelname {
    width: 210px;
    display: table-cell;
    font-size: 16px; }
  .view-main p {
    display: table-cell;
    white-space: inherit;
    padding-left: 10px;
    vertical-align: middle; }

/* layout New/Edit */
.layout-new-edit {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px; }

.change-Main-Udf h3 {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
  font-weight: 700; }
.change-Main-Udf ul {
  margin-bottom: 30px; }
.change-Main-Udf li {
  width: 100%;
  height: auto;
  display: block;
  padding: 8px 0 !important; }
  .change-Main-Udf li > span {
    width: 200px;
    font-size: 15px;
    height: 22px;
    display: block;
    display: inline-block; }
.change-Main-Udf p {
  width: 520px;
  white-space: inherit;
  padding: 0 10px;
  vertical-align: middle;
  display: inline-block; }
.change-Main-Udf input, .change-Main-Udf textarea {
  width: 500px;
  height: 30px;
  border-radius: 0;
  transition: all 0.6s;
  padding: 0 6px; }
.change-Main-Udf textarea {
  height: 100px;
  padding-top: 6px;
  resize: none; }
  .change-Main-Udf textarea:focus {
    height: 130px;
    max-height: 130px; }
.change-Main-Udf select {
  width: 250px;
  padding: 2px;
  height: 30px;
  display: inline-block; }
  .change-Main-Udf select option {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0 5px; }

/* layout New/Edit ACL  
-------------------------------------------------------------------------------------------*/
.changeACL {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  display: block; }
  .changeACL h3 {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
    font-weight: 700; }
  .changeACL > h4 {
    width: 100%;
    height: 30px;
    font-weight: normal;
    display: block; }
    .changeACL > h4:nth-child(4) {
      margin-top: 30px; }
  .changeACL .listUser, .changeACL .listGroup {
    width: 100%;
    height: auto;
    display: block; }
  .changeACL .listUser .quyenUser, .changeACL .listGroup .quyenGroup {
    width: 390px;
    text-align: center; }
    .changeACL .listUser .quyenUser span, .changeACL .listGroup .quyenGroup span {
      box-sizing: padding-box;
      transition: all .6s;
      cursor: pointer;
      padding: 2px 5px;
      margin-right: 4px;
      border-radius: 3px;
      display: inline-table;
      font-size: 13px;
      border: 1px solid rgba(0, 0, 0, 0.15); }
      .changeACL .listUser .quyenUser span.applyQuyen, .changeACL .listGroup .quyenGroup span.applyQuyen {
        background: #606060;
        color: #fff;
        border: 1px solid #606060; }
  .changeACL .listUser li, .changeACL .listGroup li {
    width: 100%;
    height: 36px;
    padding: 0;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    .changeACL .listUser li > div, .changeACL .listGroup li > div {
      display: table-cell; }
  .changeACL .nameUser, .changeACL .nameGroup {
    width: 360px;
    padding-left: 7px;
    line-height: 36px; }
  .changeACL [class*="icon-"]:before {
    margin-right: 6px; }
  .changeACL .addUserItem, .changeACL .addGroupItem {
    height: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    .changeACL .addUserItem form, .changeACL .addGroupItem form {
      height: auto;
      padding: 5px; }
  .changeACL p {
    float: left; }
  .changeACL select {
    width: 220px;
    height: 38px;
    display: inline-block; }
  .changeACL .multiple {
    margin-left: 15px; }
  .changeACL select option {
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    width: 100%;
    display: block; }
  .changeACL .addUserItem .addUser, .changeACL .addGroupItem .addGroup {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    margin-left: 20px;
    cursor: pointer;
    padding: 0 5px;
    border: 1px solid rgba(0, 0, 0, 0.15); }
  .changeACL .removeUser, .changeACL .removeGroup {
    cursor: pointer; }

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

* {
  font-size: 14px !important; }

body {
  font-family: Arial !important;
  line-height: 1;
  background: #f8f8f8;
  color: #555;
  width: 100%;
  height: 100%;
  position: absolute;
  /* transition: all .6s; */ }

a {
  font-family: Arial !important;
  color: #3b73af; }

#content {
  width: calc(100% - 200px);
  height: 100%;
  left: 200px;
  position: absolute;
  transition: all .6s; }

#sidebar-content {
  width: 260px;
  height: calc(100% - 116px);
  position: fixed;
  margin-left: 0px;
  top: 86px;
  z-index: 2; }

#content-page {
  width: calc(100% - 260px);
  margin-left: 260px;
  height: calc(100% - 116px);
  top: 86px;
  display: block;
  box-sizing: border-box;
  z-index: 1;
  position: absolute; }

.viewACL {
  width: 100%;
  height: auto; }
  .viewACL h3 {
    margin-top: 20px;
    height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: 700; }
  .viewACL h4 {
    width: 100%;
    height: 30px;
    display: block;
    margin-top: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .viewACL .listUser, .viewACL .listGroup {
    width: 100%;
    height: auto;
    display: block; }
    .viewACL .listUser li, .viewACL .listGroup li {
      width: 100%;
      height: 36px;
      padding: 0;
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
      .viewACL .listUser li > div, .viewACL .listGroup li > div {
        display: table-cell; }
    .viewACL .listUser .nameUser, .viewACL .listGroup .nameUser {
      width: 360px;
      padding-left: 7px;
      line-height: 36px;
      box-sizing: padding-box; }
  .viewACL [class*="icon-"]::before {
    margin-right: 6px; }
  .viewACL .quyenUser, .viewACL .quyenGroup {
    width: 410px;
    text-align: center; }
    .viewACL .quyenUser span, .viewACL .quyenGroup span {
      box-sizing: border-box;
      transition: all .6s;
      cursor: auto;
      padding: 2px 5px;
      margin-right: 4px;
      border-radius: 3px;
      display: inline-table;
      font-size: 13px;
      border: 1px solid rgba(0, 0, 0, 0.15); }
      .viewACL .quyenUser span.applyQuyen, .viewACL .quyenGroup span.applyQuyen {
        background: #606060;
        color: #fff;
        border: 1px solid #606060; }
  .viewACL .nameGroup {
    width: 360px;
    padding-left: 7px;
    line-height: 36px; }

#header-page {
  width: 100%;
  height: 36px;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  color: #47484b; }
  #header-page #box-header-page {
    width: 100%;
    margin: auto;
    height: 36px; }
    #header-page #box-header-page > div {
      height: 36px;
      position: relative; }
  #header-page #header-page-text {
    float: left;
    width: auto;
    padding: 0 15px;
    box-sizing: padding-box;
    white-space: nowrap;
    height: 36px;
    line-height: 36px; }
  #header-page .titleTab {
    float: left;
    height: 36px;
    line-height: 36px;
    padding-left: 30px;
    display: block; }
  #header-page #header-page-menu {
    float: right;
    cursor: pointer; }
    #header-page #header-page-menu #list-bottom-page {
      cursor: pointer; }
      #header-page #header-page-menu #list-bottom-page > span {
        height: 36px;
        display: inline-block;
        line-height: 38px;
        margin: 0 8px;
        cursor: pointer !important; }
        #header-page #header-page-menu #list-bottom-page > span:before {
          padding-right: 6px; }
        #header-page #header-page-menu #list-bottom-page > span span {
          display: inline-block;
          padding-right: 4px; }
        #header-page #header-page-menu #list-bottom-page > span p {
          font-family: Arial !important;
          display: inline-block; }
  #header-page * [class*="icon-"]:before, #header-page * [class*="icons-"]:after {
    text-shadow: 1px 1px 2px #999;
    cursor: pointer; }

#body-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /*#tab-view { width: calc(100% - 460px); top: $h-header + $hHeader; right: 0; z-index: 100; height: $h-tab-view; background: $bg-header-pg; position: fixed; @include border-bottom; }*/ }
  #body-content #tab-view {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    height: 35px;
    background: #f5f5f5;
    position: absolute;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  #body-content .tab-view span {
    position: relative;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    cursor: pointer;
    display: inline-block; }
  #body-content #body {
    width: 100%;
    height: calc(100% - 35px);
    top: 35px;
    position: absolute;
    overflow: auto; }
    #body-content #body #main-page {
      width: 800px;
      height: auto;
      margin: 6px 0 20px 6px;
      padding: 1px 10px;
      background: #fff;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.15); }
    #body-content #body #body-main, #body-content #body #body-ACL {
      margin-bottom: 20px; }
    #body-content #body #body-ACL {
      display: none; }

#combobox {
  width: 100%;
  height: 100%; }
  #combobox #header-combobox {
    height: 35px;
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 1;
    top: 0;
    background: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    #combobox #header-combobox > div {
      height: 35px; }
    #combobox #header-combobox #tab-view-new-edit {
      width: auto;
      float: left;
      line-height: 35px;
      box-sizing: padding-box; }
    #combobox #header-combobox #list-bottom-combobox {
      float: right; }
      #combobox #header-combobox #list-bottom-combobox > div {
        height: 35px;
        padding: 0 15px;
        float: left;
        line-height: 35px;
        text-align: center;
        cursor: pointer;
        border-left: 1px solid rgba(0, 0, 0, 0.15); }
  #combobox #content-combobox {
    width: 100%;
    height: calc(100% - 35px);
    top: 35px;
    position: absolute;
    overflow: auto; }
    #combobox #content-combobox #body-combobox {
      width: 800px;
      background: #fff;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
      margin: 10px 6px 20px 6px; }

#layoutDeleteTree {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 101; }
  #layoutDeleteTree > div {
    background: #999;
    width: 300px;
    overflow: hidden;
    height: 200px;
    position: absolute;
    margin: auto;
    left: calc(50% - 150px);
    top: calc(50% - 100px);
    background: #EFEFEF;
    border-radius: 5px; }
  #layoutDeleteTree p {
    width: 100%;
    height: 160px;
    display: block;
    text-align: center;
    color: #444444;
    line-height: 160px; }
  #layoutDeleteTree #DeleteTree {
    width: 100%;
    height: 40px;
    display: block;
    z-index: 0; }
    #layoutDeleteTree #DeleteTree span {
      color: #F8D5DA;
      cursor: pointer;
      width: 150px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      float: left;
      background: #999; }
      #layoutDeleteTree #DeleteTree span.yesDelete {
        border-left: 1px solid #fff; }

.loading {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 1000;
  background: #fff; }

.loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -12px; }

/*# sourceMappingURL=product.css.map */

/* Layout Tree */
#tree { width: 100%; height: 100%; display: block; box-sizing: border-box; }
#treeHeader { height: 35px; box-sizing: border-box; padding: 4px 0 0 16px; }
#treeBody { width: 100%; height: calc(100% - 35px); position: absolute; overflow: auto; position: relative; }
#treeBody ul { height: auto; display: none; }
#treeBody li { margin-left: 18px; position: relative; min-height: 22px; height: auto; }
#treeBody a { height: 24px; line-height: 24px; padding: 0 10px 0 6px; font-size: 14px; white-space: nowrap;}
#treeBody li.listTree:before { z-index: 3; text-align: center; line-height: 14px; content: ''; width: 14px; height: 14px; position: absolute; top: 4px; left: -12px; background-image: url(../../images/expand.png); cursor: pointer; }
#treeBody li.selectTree:before { background-image: url(../../images/collapse.png); }
#treeBody > ul { margin-top: 10px; display: block; }
#treeBody > ul > li { margin-left: 12px; }



/* layoutDelete 
--------------------------------------------------------------------------------------------*/
#layoutDeleteTree { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); z-index: 101; }
#layoutDeleteTree > div { background: #999; width: 300px; overflow: hidden; height: 200px; position: absolute; margin: auto; left: calc(50% - 150px); top: calc(50% - 100px); background: #EFEFEF; border-radius: 5px; }
#layoutDeleteTree p { width: 100%; height: 160px; display: block; text-align: center; color: #444444; line-height: 160px; }
#DeleteTree { width: 100%; height: 40px; display: block; z-index: 0; }
#DeleteTree span { color: #F8D5DA; cursor: pointer; width: 150px; height: 40px; text-align: center; line-height: 40px; float: left; background: #999; }
.yesDelete { border-left: 1px solid #fff; }



/* View Main*/
.view-main { display: block; width: 100%; height: auto; }
.view-main h3 { margin-top: 20px; height: 30px; }
.view-main ul { width: 100%; height: auto; display: block; }
.view-main li { width: 100%; height: auto;  display: block; padding: 5px 0; }
.labelname { width: 210px; display: table-cell; font-size: 16px; }
.view-main p { display: table-cell; white-space: inherit; padding-left: 10px; vertical-align: middle; }



/* View ACL 
-------------------------------------------------------------------------------------------*/
.viewACL { width: 100%; height: auto; }
.viewACL a { color: #777; }
.viewACL h3 { margin-top: 20px; height: 30px; }
.viewACL h4 { width: 100%; height: 30px; display: block; margin-top: 30px; }
.viewACL .listUser, .listGroup { width: 100%; height: auto; display: block; }
.viewACL .listUser li, .viewACL .listGroup li { width: 100%; height: 36px; padding: 0; display: block; }
.viewACL .listUser li > div, .listGroup li > div {  display: table-cell; }
.viewACL .listUser .nameUser { width:  360px; padding-left: 7px; line-height: 36px; box-sizing: padding-box; }
.viewACL [class*="icon-"]::before { margin-right: 6px; }
.viewACL .listUser .quyenUser,.viewACL .listGroup .quyenGroup { width: 410px; text-align: center; }
.viewACL .quyenUser span, .viewACL .quyenGroup span { box-sizing: padding-box; transition: all .6s; cursor:auto; padding: 2px 5px; margin-right: 4px; border-radius: 3px; display: inline-table; font-size: 13px; }
.viewACL .nameGroup { width:  360px; padding-left: 7px; line-height: 36px; }




/* combobox (Layout New/Edit) */
#combobox { width: 100%; height: auto; }
#body-combobox { position: relative; }
#header-combobox { height: 35px; position: fixed; width: calc(100% - 460px); right: 0; z-index: 1; margin-top: 0; }
#header-combobox > div { height: 35px; }
#tab-view-new-edit { width: auto; float: left; line-height: 35px; box-sizing: padding-box; }
#list-bottom-combobox { float: right; }
#list-bottom-combobox > div { height: 35px; padding: 0 15px; float: left; line-height: 35px; text-align: center; cursor: pointer; }
#content-combobox { width: 100%; height: calc(100% - 46px); padding-top: 35px; display: block; position: relative; }
#content-combobox > div { min-height: 100%; height: auto; display: block; }



/* layout New/Edit */
.layout-new-edit { width: 100%; height: auto; display: block; padding: 10px; }
.change-Main-Udf h3 { height: 36px; line-height: 36px; }
.change-Main-Udf ul { margin-bottom: 30px; }
.change-Main-Udf li { width: 100%; height: auto;  display: block; padding: 5px 0; }
.change-Main-Udf li > span { width: 200px; font-size: 15px; height: 22px; display: block; display: inline-block; }
.change-Main-Udf p { width: 520px; white-space: inherit; padding: 0 10px; vertical-align: middle;  display: inline-block; } 
.change-Main-Udf input , .change-Main-Udf textarea { width: 500px; height: 30px; border-radius: 0; transition: all 0.6s; padding: 0 6px; }
.change-Main-Udf textarea:focus { height: 130px; max-height: 130px; }
.change-Main-Udf select { width: 250px; padding: 2px; height: 30px; display: inline-block; }
.change-Main-Udf select option { width: 100%; height: 20px; line-height: 20px; padding: 0 5px; }
.change-Main-Udf textarea { height: 100px; padding-top: 6px; resize: none; }



/* layout New/Edit ACL  
-------------------------------------------------------------------------------------------*/
.changeACL { width: 100%; height: auto; margin-bottom: 40px; display: block; }
.changeACL h3 { height: 30px; }
.changeACL h4 { width: 100%; height: 30px; font-weight: normal; display: block; margin-top: 30px; }
.changeACL .listUser, .listGroup { width: 100%; height: auto; display: block; }
.changeACL .listUser li, .changeACL .listGroup li { width: 100%; height: 36px; padding: 0; display: block; }
.changeACL .listUser li > div, .listGroup li > div { display: table-cell; }
.changeACL .nameUser, .changeACL .nameGroup { width:  360px; padding-left: 7px; line-height: 36px; }
.changeACL .listUser .quyenUser, .listGroup .quyenGroup { width: 390px; text-align: center; }
.changeACL .quyenUser span, .quyenGroup span { box-sizing: padding-box; transition: all .6s; cursor: pointer; padding: 2px 5px; margin-right: 4px; border-radius: 3px; display: inline-table; font-size: 13px;}
.applyQuyen { background: #606060; color: #fff; border: 1px solid #606060; }
.changeACL [class*="icon-"]:before { margin-right: 6px; }
.addUserItem, .addGroupItem { padding: 5px; }
.changeACL p { display: inline-block; }
.changeACL select { width: 325px; height: 38px; display: inline-block; }
.changeACL  .multiple select { width: 330px; margin-left: 25px; }
.changeACL select option { height: 24px; line-height: 24px; padding-left: 10px ; width: 100%; display: block; }
.addUserItem .addUser, .addGroupItem .addGroup { display: inline-block; height: 32px; line-height: 32px; border-radius: 3px; margin-left: 30px; cursor: pointer; padding: 0 5px; }
.removeUser, .removeGroup { cursor: pointer; }



/* layout Seach */
.seach { width: 230px; overflow: hidden; height: 26px; background: #fff; border-radius: 13px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.input-seach { border: none; height: 24px; width: 196px; float: left; margin-left: 8px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.label-seach { height: 19px; font-size: 13px; font-weight: 700; margin-top: 2px; padding: 3px 4px 0 4px; float: left; } 
