﻿@model Framework.Models.LogInModel

@{
    ViewBag.Title = "logIn";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}

<div id="wrappermiddle">
    <h2>Login</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div id="username_input">

            <div id="username_inputleft"></div>

            <div id="username_inputmiddle">

                <input type="text" name="Username" id="Username" class="textbox">
                <img id="url_user" src="@Url.Content("~/Content/images/mailicon.png")" alt="">

            </div>

            <div id="username_inputright"></div>
        </div>

        <div id="password_input">

            <div id="password_inputleft"></div>

            <div id="password_inputmiddle">

                <input type="password" name="password" id="password" class="textbox">
                <img id="url_password" src="@Url.Content("~/Content/images/passicon.png")" alt="">

            </div>

            <div id="password_inputright"></div>
        </div>

        <div id="submit">

            <button id="submit2"></button>

        </div>
    }

    <div id="links_left">

        <a href="#">Forgot your Password?</a>

    </div>

    <div id="links_right"><a href="#">Not a Member Yet?</a></div>


</div>



