﻿@model los_controller.Models.ErrorModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Global Error</title>
</head>
<body>
    <div>
        @Model.ErrorCode
    </div>
    <div>
        @Model.ErrorMessage
    </div>
    
    <div>
        @Html.ActionLink("Back to home", "Index")
    </div>
</body>
</html>
