﻿@model Framework.Models.Product

@{
    ViewBag.Title = "ProductDetailEdit";
}


<div id="sidebar-content">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "save-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Product</h4>
            <hr />
            @Html.ValidationSummary()
           
            <ul>
                <li><span class="labelname">@Html.DisplayNameFor(model => model.Id)</span><p>@Html.EditorFor(model => model.Id)
                                                                                             </p></li>
                <li><span class="labelname">@Html.DisplayNameFor(model => model.Slogan)</span><p>@Html.EditorFor(model => model.Slogan)
                                                                                                 </p></li>
                <li><span class="labelname">@Html.DisplayNameFor(model => model.ParentId)</span><p>@Html.EditorFor(model => model.ParentId)
                                                                                                    </p></li>
            </ul>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                </div>
            </div>
        </div>
    }
</div>