@model IEnumerable<Framework.Models.Product>

@{
    ViewBag.Title = "Product Page";
}

<br />
<div id="sidebar-content">
    <table class="table" cellpadding="20" cellspacing="20">
        <tr>
            <td>
                ID
            </td>
            <td>
                Slogan
            </td>
            <td>
                ParentID
            </td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slogan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentId)
                </td>
                <td>
                    @Html.ActionLink("Details", "GetDetail", new { destId = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

