﻿@model Framework.Models.Product

@{
    ViewBag.Title = "ProductDetail";
}


<div id="sidebar-content">
    <h4>Product</h4>
    <hr />
    <ul>
        <li><span class="labelname">@Html.DisplayNameFor(model => model.Id)</span><p>@Html.DisplayFor(model => model.Id)</p></li>
        <li><span class="labelname">@Html.DisplayNameFor(model => model.Slogan)</span><p>@Html.DisplayFor(model => model.Slogan)</p></li>
        <li><span class="labelname">@Html.DisplayNameFor(model => model.ParentId)</span><p>@Html.DisplayFor(model => model.ParentId)</p></li>
    </ul>
</div>
