
.loader {
    height: 40px;
    position: relative;
    transform: rotate(165deg);
    width: 40px;
}
.loader:before, .loader:after {
    border-radius: 0.25em;
    content: "";
    display: block;
    height: 0.5em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.5em;
}
.loader:before {
    animation: 2s ease 0s normal none infinite before;
    -webkit-animation: 2s ease 0s normal none infinite before;
}
.loader:after {
    animation: 2s ease 0s normal none infinite after;
    -webkit-animation: 2s ease 0s normal none infinite after;
}
@keyframes before {
  0% {
      box-shadow: 1em -0.5em rgba(153, 153, 153, 0.75), -1em 0.5em rgba(153, 153, 153, 0.75);
      width: 0.5em;
  }
  35% {
      box-shadow: 0 -0.5em rgba(153, 153, 153, 0.75), 0 0.5em rgba(153, 153, 153, 0.75);
      width: 2.5em;
  }
  70% {
      box-shadow: -1em -0.5em rgba(153, 153, 153, 0.75), 1em 0.5em rgba(153, 153, 153, 0.75);
      width: 0.5em;
  }
  100% {
      box-shadow: 1em -0.5em rgba(153, 153, 153, 0.75), -1em 0.5em rgba(153, 153, 153, 0.75);
  }
}
@-webkit-keyframes before {
  0% {
      box-shadow: 1em -0.5em rgba(153, 153, 153, 0.75), -1em 0.5em rgba(153, 153, 153, 0.75);
      width: 0.5em;
  }
  35% {
      box-shadow: 0 -0.5em rgba(153, 153, 153, 0.75), 0 0.5em rgba(153, 153, 153, 0.75);
      width: 2.5em;
  }
  70% {
      box-shadow: -1em -0.5em rgba(153, 153, 153, 0.75), 1em 0.5em rgba(153, 153, 153, 0.75);
      width: 0.5em;
  }
  100% {
      box-shadow: 1em -0.5em rgba(153, 153, 153, 0.75), -1em 0.5em rgba(153, 153, 153, 0.75);
  }
}

@keyframes after {
  0% {
      box-shadow: 0.5em 1em rgba(128, 128, 128, 0.75), -0.5em -1em rgba(128, 128, 128, 0.75);
      height: 0.5em;
  }
  35% {
      box-shadow: 0.5em 0 rgba(128, 128, 128, 0.75), -0.5em 0 rgba(128, 128, 128, 0.75);
      height: 2.5em;
  }
  70% {
      box-shadow: 0.5em -1em rgba(128, 128, 128, 0.75), -0.5em 1em rgba(128, 128, 128, 0.75);
      height: 0.5em;
  }
  100% {
      box-shadow: 0.5em 1em rgba(128, 128, 128, 0.75), -0.5em -1em rgba(128, 128, 128, 0.75);
  }
}
@-webkit-keyframes after {
  0% {
      box-shadow: 0.5em 1em rgba(128, 128, 128, 0.75), -0.5em -1em rgba(128, 128, 128, 0.75);
      height: 0.5em;
  }
  35% {
      box-shadow: 0.5em 0 rgba(128, 128, 128, 0.75), -0.5em 0 rgba(128, 128, 128, 0.75);
      height: 2.5em;
  }
  70% {
      box-shadow: 0.5em -1em rgba(128, 128, 128, 0.75), -0.5em 1em rgba(128, 128, 128, 0.75);
      height: 0.5em;
  }
  100% {
      box-shadow: 0.5em 1em rgba(128, 128, 128, 0.75), -0.5em -1em rgba(128, 128, 128, 0.75);
  }
}

.loader {
    left: calc(50% - 20px);
    position: absolute;
    top: calc(50% - 20px);
}
